[2018-08-16 02:41] kk-gndu opened #6 "change ufficial to official in Readme.md"

[2018-08-16 07:42] #6 closed

[2018-10-23 12:58] ishepard opened #10 "GitRepository with remote URLs"
Right now, to use GitRepository you need to pass a path to the repo, which in case of remote URLs is a temporary folder created on the fly. The `Commit` object carries this information in the `project_path` field. However, this leads the developer to create one GitRepository every visited commit:

[code]

That is not optimal, since every time GitRepository is instantiated, a new request to Git is

[2018-10-23 13:21] ishepard opened #11 "traverse_files()"
One user asked to implement a traverse_file() function instead of traverse_commits().

In this case, I would have to obtain the list of files of the repo in that specific moment, and trace back all the commits in which each file was modified.

The result will be a dictionary, in which the keys are the files, and the value for each key is a list of commits.

[2018-10-25 11:41] ishepard opened #12 "Update examples in example folder"

[2018-10-26 16:54] avancinirodrigo opened #13 "Verify Modification.filename on Windows"
It seems that filename is returning a relative path from repository instead just the filename (with extension) on Windows.

On Linux works correctly.

That happens using Python 3.5.1

To reproduce the problem:
[code]

[2018-10-26 17:21] ishepard commented on #13
thank you!
I am now using Appvoyer as CI to build PyDriller on Windows, and indeed it fails to get the filename. I am gonna have a look at it this weekend

[2018-10-29 09:50] ishepard commented on #13
@avancinirodrigo I released PyDriller 1.4.3 with the fix. Now the filename should be correctly displayed on Windows machines.

[2018-10-29 09:50] #13 closed

[2018-10-29 09:52] ishepard commented on #10
As a small fix, the `git` and `Repo` object are now lazy evaluated. So if the user needs to use only the `parse_diff()` function, a new Git or Repo object **won't** be created.

[2018-10-29 09:52] #10 closed

[2018-11-05 19:19] ishepard opened #16 "Add mercurial support"

[2018-11-06 18:33] ishepard opened #17 "New filter only_commits="
New filter only_commits. Right now PyDriller can accept a single commit, or it can filter by dates. However we may want to analyse specific commits.

[code]

[2018-11-07 18:23] ishepard opened #18 "New filter only_authors="
select all commits of 1 specific author

[2018-11-10 03:18] matheusflauzino opened #19 "Implement traverse_releases()"
My suggestion would to implement a function traverse_release(), so we can traverse releases commits, or the last release commit.
We are working on paper in Brazil que analisa updates to each realease and this particular suggestion would help us greatly. Thanks!

[2018-11-12 14:11] ishepard commented on #19
Hi @matheusflauzino! I like the idea of this filter. I was thinking, instead of creating a new function `traverse_release()`, I would prefer to put it as parameter of RepositoryMining, for example `only_releases=True`. Something like:

[code]
The change should be pretty trivial, you only have to obtain the list of commits that represent a release.

Can you do a PR with this feature?

[2018-11-16 13:15] matheusflauzino commented on #19
@ishepard Is a very good idea implement the filter `only_releases=True`, I don't know if I can accurately implemented this feature, since I'm new on Python, but can try.

thanks in advance

[2018-11-17 13:02] ishepard commented on #19
No worries for that, I can help! If you have questions, just write me an email or comment this issue!

Thanks!

[2018-11-20 09:06] #17 closed

[2018-11-20 09:09] #18 closed

[2018-11-25 00:09] Marlysson opened #21 "On Windows, exception ignored causes the break of program's execution"
When I run some operation provided by RepositoryMining at end of its execution occours the exception below:

[code]

My test:

[code]

I'm trying something wrong way or need a patch to fix them...

I wonder help if need some fix.

[2018-11-25 00:13] Marlysson commented on #11
Will this be the more direct action instead of run traverse_commits() and create a dictionary of commit.modifications's content?

[2018-11-25 16:30] ishepard commented on #21
Hi @Marlysson ! Thank you for opening an issue. Can you give more details of your system?
Python version and OS.

I tried to run your code snippet but on my laptop (and on Travis) works. So I guess you are running on Windows? I don't have a Windows machine right now, but I am gonna try in the next days to reproduce it.

[2018-11-25 16:33] ishepard commented on #11
The disadvantage of your approach is that it would collect information about *ALL* the files ever committed. What the user wants instead is only the information regarding the files in the system NOW.

[2018-11-25 18:54] Marlysson commented on #21
Thanks for your reply.

**Python version:** Python 3.6.4
**OS Version:** Windows 10 ( 64 bits )

At final of exception shows this error:
[code]

[2018-11-28 14:17] Marlysson commented on #21
Great . I will take a look it and see what can I do.

[2018-12-05 20:57] jlgomes opened #24 "In the modified file bring only the modified methods and not all"
Include a method that brings all modified methods into a commit

[2018-12-05 21:12] ishepard commented on #24
I like the idea! It should be pretty trivial to implement as well, since a `Modification` object has the diff, from which we can obtain the modified lines, which can then use to detect the methods changed (every method has starting and ending line). Could you do a PR?

[2018-12-06 00:49] jlgomes commented on #24
I implemented the method that returns only the changed methods in commit, can you release the PR and validate the implementation?

[2018-12-06 12:29] Robgua opened #25 "Problem with old_path"
I wanted to search the commit when a file was added but the result is that the old_path of the file is never None so the commit was not found. I tested this on the repository https://github.com/krb5/krb5 and the file define.h.

[2018-12-06 13:11] ishepard commented on #25
[code]
this code returns:
[code]

old_path = None. I do not see the problem.

[2018-12-06 14:00] ishepard commented on #25
Chat offline with the author of the issue, problem solved.

[2018-12-06 14:00] #25 closed

[2018-12-07 09:16] davidetaibi opened #27 "GitRepository error: A branch named '_PD' already exists.'"
I tried to use pydriller to iterate all the commits of a project and then execute a custom command on each commit. (in my example, I simply print all the files in the directory for each commit).

The library GitRepository is looking for a branch "_PD" that does not exist in my repository.

Here is the script I wrote:

[code]

This is the exception

[code]

[2018-12-08 09:47] davidetaibi commented on #27
Thank you. Checking out manually the master, it works.

However, when you launch the same script twice, you obtain the same error the second time (stderr: 'fatal: A branch named '_PD' already exists.').

I solved by adding this two lines to the script. It works, but it is a workaround ;-)
repo = git.Repo(GIT_REPOSITORY)
repo.git.checkout('master')

If it can be useful, I created a sample repositor

[2018-12-08 09:47] #27 closed

[2018-12-08 09:56] ishepard commented on #27
Hello @davidetaibi! Glad that it helped!
It doesn't work if you don't call **git.reset()** at the end of the study (or after each **git checkout**). The idea is that when you run PyDriller, the repository should be in a clean state, not in some strange branch. See this [test](https://github.com/ishepard/pydriller/blob/aee50f80543ec27bc5d4d490620602bc87fa6794/tests/test_git_repository.py#L118). I c

[2019-01-11 03:54] kanghj opened #30 "Is there a way to traverse commits on a single file?"
It will be nice if I was able to traverse through the commits through a single file's history. The file could be specified as a parameter to RepositoryMining, perhaps? I can try adding a feature like this when I have more time, if @ishepard is interested.

[2019-01-11 08:57] ishepard commented on #30
Hi @kanghj,
it could indeed be a nice feature. I already started working on a function called `traverse_file` (to be used instead of `traverse_commits`) in a branch called `traverse_file`. However, it could be nice to have a parameter in `RepositoryMining` to which you pass a file and it returns the list of commits. Something like:

[code]

If you want to implement it, go ahead. As an example, you

[2019-01-14 10:28] gotec opened #32 "parse_diff() yields wrong results for files ending without newline"
If a file ends without a newline git represents this with the additional line

in corresponding diffs. These lines are not parsed correctly in the `parse_diff()` function.

[2019-01-14 10:31] ishepard commented on #32
Hi @gotec! Thank you for catching this. Can you please give me an example? A project, a commit and a file to check. What does my `parse_diff()` function returns?

Thanks!

[2019-01-14 10:41] gotec commented on #32
Hi @ishepard. I have created a pull request including example and test and potential fix.

While writing the fix I realised that there might be an additional issue in case context lines in the diff read `\ No newline at end of file` for whatever reason. To prevent this, it might be beneficial to disable context lines in diffs outright if this does not cause any additional issues.

[2019-01-14 10:53] ishepard commented on #32
Thanks I just saw it, cool!! Gonna check it now

I don't think that this will ever happen :) Anyway, the same problem would apply if the the line starts with `@@`..for now, I will just assume this doesn't happen. If people will complain, I will change it.

Thanks!!

[2019-01-14 10:55] #32 closed

[2019-01-14 10:56] gotec commented on #32
Yeah, I thought the same. Still wanted to let you know :)

[2019-01-14 10:59] ishepard commented on #32
Awesome! Gonna release the update this afternoon after lunch.

Thank you again! Cheers

[2019-01-18 15:54] #30 closed

[2019-02-26 22:47] ntabassum7 opened #34 "Commit filter only_authors raising "unexpected keyword argument" error"
The only_authors() commit filter is not working and raising an error.
I'm trying to run the example given in the [configuration page](https://pydriller.readthedocs.io/en/latest/configuration.html)

Following is the error that I'm getting:
[code]
I'm using Windows powershell, python 3.6.5.

[2019-02-27 09:37] ishepard commented on #34
Hi @ntabassum7 ! Thank you for opening an issue.
Unfortunately, I can't replicate the error (I tried on my laptop, Travis CI and Appveyor and it works on all of them). My concern is that, since *only_authors* is a relatively new feature, you don't have an updated version of PyDriller. Can you double check that PyDriller is version 1.7?

[2019-02-27 09:40] ishepard commented on #34
this error `TypeError: __init__() got an unexpected keyword argument 'only_authors'` means that **only_authors** is not in the **init** function of RepositoryMining, however, you can see that it is: https://github.com/ishepard/pydriller/blob/fbba3a46814b058b5601fc0eade3e358f5ef77bd/pydriller/repository_mining.py#L40.

[2019-02-27 14:12] ntabassum7 commented on #34
Thanks! I was in fact using a older version (1.2.3) of pydriller, i updated it and it works absolutely fine!

[2019-02-27 14:12] #34 closed

[2019-02-27 14:23] ishepard commented on #34
Perfect 👍

[2019-03-05 12:05] #24 closed

[2019-03-21 19:17] nasifimtiazohi opened #36 "importing pydriller causes print function to print twice"
**Describe the bug**
importing pydriller causes print function to print twice.

**To Reproduce**
code:
[code]
output
[code]

**OS Version:**
MacOS

[2019-03-21 19:35] nasifimtiazohi commented on #36
oops.. it was a stupid mistake.

I actually named my file also as 'pydriller.py'.

[2019-03-21 19:35] #36 closed

[2019-04-16 00:36] vovak opened #38 "Commit.modifications returns non-existing modifications"
Steps to reproduce:

1. Create a sample repository using this Bash script:
[code]

2. Run a Python script below that prints all file modifications.
The code below assumes pydriller 1.7, installed via pip
[code]

Expected output:
[code]

Actual output:
[code]

File B appears to have been created again in the last commit.

Running `git show 6df08c1 --pretty=raw` to list the changes in the last commi

[2019-04-16 08:47] ishepard commented on #38
thank you @vovak for the PR! So I investigated the problem, and I think I found where the problem is.

To retrieve the modified files in every commit, I do `git diff parent_commit current_commit`. In cases in which there is more than 1 parent (i.e,, merges), I choose the left parent (parent[0]).
This, however, seems to be different from the default behaviour of Git (all the merges commits that I a

[2019-04-16 10:02] vovak commented on #38
Indeed, by ignoring other parents you are guaranteed to get such ghost events quite often. In this case, the tree of the left parent doesn’t have the B, so it appears as a new file in the diff (again, after a genuine add event in a branch, thus incorrectly). It is already present in the tree of the right parent, however, and should not be counted as added in the merge commit, as it was already add

[2019-04-16 10:05] vovak commented on #38
cc @mark-selyaeff @jzuken

[2019-04-16 10:16] ishepard commented on #38
Yes indeed, the behaviour is definitely wrong. The problem seems to rely on how `git diff` works. See this [answer](https://stackoverflow.com/a/40986893/7053584). Using `git diff` on the merge commits prints the wrong result (even with the `-c` option), while instead using `git diff-tree` works perfectly, because it uses the combined diff (and this is why `git show` also works, because according t

[2019-04-16 11:12] mauricioaniche commented on #38
I have this issue in all my studies, too... Tricky to solve. But maybe if Pydriller solves it, I'll never have this problem again.

What would be the best approach here? Maybe get the diff between <commit, left> and <commit, right>, and then, decide which one to believe? Like, if one says _add_, but the other says _modified_, then we go for the _modified_ one?

[2019-04-16 11:30] ishepard commented on #38
So, after reading the docs and some forum, I think the best approach is to retrieve the combined diff, instead of the normal diff (this of course if GitPython allows me to do it, otherwise I will have to do a PR on GitPython).

According to the docs, the combined diff is the diff that represents only the files that were in more than 1 branch (the so called "conflicts").
So, if branch1 has file A,

[2019-04-16 13:06] ishepard commented on #38
@vovak I created a branch and committed a solution (taken from the [PR](https://github.com/gitpython-developers/GitPython/pull/740/files) on GitPython), and submitted a test as well. Now it doesn't print all the modified file, and should print only the combined diff. I am gonna further check how it behaves on larger projects.

[2019-04-19 09:28] ishepard commented on #38
ehi @vovak, I created a PR #39 that should solve the problem. If you have time to check whether it works on some cases would be awesome (I checked on your example and it works indeed).

[2019-05-02 07:59] ishepard opened #41 "Parsing a combined diff"
When in a merge commit, the modified files of the commit should be the files in conflict. To obtain this list, one should use "git diff-tree --cc SHA". Right now, since I haven't found a solution to parse this yet, I don't return anything.

As an example, I show here the result of `diff-tree --cc` on the commit _cc5b002a5140e2d60184de42554a8737981c846c_ of project [SignalR](https://github.com/Sign

[2019-05-02 08:56] #38 closed

[2019-05-02 08:58] ishepard commented on #21
I will close the issue since it has not been updated in a long time. Feel free to re-open it when needed.

[2019-05-02 08:58] #21 closed

[2019-05-02 08:58] #19 closed

[2019-05-16 11:10] sims1253 opened #42 "Lost diffs"
**Describe the bug**
When iterating through the commits of a repo and analyzing the diffs for each commit sometimes the diffs are missing.
I also hat this happen when running it over the Linux kernel and apache httpd but I don't have examples at hand.

**To Reproduce**
I am testing this on https://github.com/GNOME/evolution
commit sha is 756c8abcb840b8da588031f4a0d7e1fc979fab70
https://github.com/

[2019-05-16 11:59] ishepard commented on #42
Hi @sims1253 ! Thank you for opening the issue.
After a quick investigation, I discovered that the problem is the decoding in UTF-8. The file you've pointed out has 2 "strange" characters:
**Line 35: Port to Pango co-done by Gerg\xf5 \xc9rdi.**
PyDriller fails to decoding it.

AFAIK, I don't see a problem on this. What do you think?

[2019-05-16 13:25] sims1253 commented on #42
Makes sense I think. Damn though :see_no_evil:
It might be nice to log a message about this so it is more explicit I think.

Do you have an idea how to work around this?

[2019-05-16 15:05] ishepard commented on #42
Yeah, you're right. I log it in this [line](https://github.com/ishepard/pydriller/blob/3e757de698fd59c693fab5d24e0fbae5ef79824d/pydriller/domain/commit.py#L421), but it's probably lost in between all the other logs.

The reason why I use decode UTF-8 is because it automatically translates "\n" in escapes, "\t" in tabs, etc.
A possibility might be to keep this behavior in normal cases, while return

[2019-05-16 20:12] sims1253 commented on #42
Found the log message. It was indeed just swamped and I didn't look hard enough.

UTF-8 seems to be a sensible default I think. The whole decoding problem probably can't really be solved.
The options that come to my mind would be:
  - Throw error if UTF-8 doesn't work. This would break pydrill on many projects so probably not desired.
  - Add an option to raise an exception on an encoding error. T

[2019-05-17 08:56] ishepard commented on #42
So, after a bit of decoding documentation, I discovered there is a flag "ignore" to ignore non-decodable characters. Now it works 😄 BTW, it's more efficient if you re-write your code like this:

[code]

I am gonna release a patch soon. Thanks!

[2019-05-17 09:01] sims1253 commented on #42
Nice!
And thanks for the hint :)

[2019-05-17 21:52] sims1253 commented on #42
I'm closing this as you pushed the commit.

[2019-05-17 21:52] #42 closed

[2019-05-20 13:55] ishepard commented on #42
Just wanted to tell you that I just release PyDriller 1.8 with the fix 👍 thanks again!

[2019-05-23 19:19] sims1253 commented on #42
nice thanks :)

[2019-05-30 16:32] marco-c opened #46 "Use git-hyper-blame to improve SZZ results"
SZZ can blame the wrong commit when there are large formatting changes.

https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/git-hyper-blame.html can help with this, skipping large meaningless formatting changes (for projects that do have an up to date .git-blame-ignore-revs). Possibly, it would also be nice to be allowed to pass a set of commits to skip in additi

[2019-05-30 18:29] ishepard commented on #46
Ciao @marco-c!
If I understood correctly, it seems that if between the "culprit" commit and the fix commit there is another commit with big changes (such as mass reformatting or renaming), then the normal blame would pick up this big commit as the "culprit". What you would like to have instead is the real "culprit" commit.

The only problem I see with your approach is that _git hyper-blame_ is not

[2019-05-30 20:24] marco-c commented on #46
Exactly!

What if it was optional? Use git-hyper-blame if available, resort to normal git blame otherwise.

This solution would be better than the status quo, the only problem is that you wouldn't be able to go look behind the reformatting change. You won't wrongly blame the reformatting change, but you also won't be able to blame the actual culprit which is older than the formatting change.

[2019-06-04 11:11] ishepard commented on #46
Yep I see. Sure, it looks good to me then. Could you be available to create a PR with the new feature?
I was thinking to add a new parameter `smart=True` to the function to use git-hyper-blame, `False` for the normal git blame instead.

[2019-06-12 08:34] #46 closed

[2019-06-17 14:33] ishepard opened #48 "Implement our version of git hyper-blame"
Currently, we use Google "git hyper-blame" from their depot_tools. However, this means another dependency that might break someday. After having seen the code (https://github.com/GiantPay/depot_tools/blob/master/git_hyper_blame.py), I think it's not impossible to replicate by ourselves.

[2019-06-26 20:28] RafaelFazzolino opened #50 "New commit filter "only_modifications_without_file_types""
**I would like to be able to filter commits that modify files that do not have certain formats..**
I am interested in analyzing flow of commits taking into account certain format of the modified files. For example: I want to filter commits that modify '_.java_' format files (we already did it with '**only_modifications_with_file_types**'), however, I would also like to get all commits that do not

[2019-06-26 20:33] RafaelFazzolino commented on #50
I knew the tool a little while ago, but I loved it! I want to help in the evolution of it!
I'm currently a little busy, but as soon as I can relieve, I can work on this issue if it has not been fixed yet.

Thank you!

[2019-06-27 07:17] ishepard commented on #50
hi @RafaelFazzolino! Thanks for opening the issue! I see your point, you'd like to get all the commits the did **not** modify a certain file type...like all the commits that did not touch source code. Make sense to me!

It shouldn't be too difficult, you can check the code of the filter "**only_modifications_with_file_types**", and do something similar. I will wait for your PR then 😄
If you need h

[2019-07-26 10:04] marco-c opened #52 "Only use hyper-blame when useful"
Right now, when hyper-blame is available, we always prefer it to normal blame.
In practice, we should use it only when useful (that is, when the user passes a path to a file containing hashes to ignore, or when the repository contains a default ignore file), as it can slow down blaming.

[2019-07-26 11:56] ishepard commented on #52
This seems indeed a good idea. I can work on this since it's a trivial change. Thanks!

[2019-08-01 11:50] ishepard commented on #52
Last release fixed this issue! Thank you!

[2019-08-01 11:50] #52 closed

[2019-08-06 07:30] marco-c opened #54 "Use pygit2 where possible"
`gitpython`'s performance is not great, as it uses subprocess to spawn a git process for every command.
Using `pygit2` can greatly improve performance, even though it's a bit harder to use.

[2019-08-06 08:03] ishepard commented on #54
Hi @marco-c, yes I already saw that library and indeed it looks a bit more complicated than GitPython (even though the commands that we use, like `git log` and `git show` are almost identical). Right now, using GitPtyhon, we can achieve an average of 55 commits per second, which is for the general user a good compromise between simplicity and speed.

However, I will make a note to checkout this li

[2019-08-18 09:52] ishepard commented on #54
I was playing around a bit on this: I've written a piece of code to iterate over all the commits, get the diffs, and get the source code of every file in the commit. This is the code:
[code]
The result is astonishing:
[code]
I think it's a good moment for me to start working on Pydriller 2.0 :)
The only thing is that it took me 1 hour to install pygit2, due to its dependency with libgit2. I'll wor

[2019-08-22 12:37] Vox1984 opened #55 "I cannot use pydriller traverse_commits() method on detached repository"
**Describe the bug**
I cannot use pydriller traverse_commits() method  from RepositoryMining class on detached repository, for other repositories it works fine. (I am intending to use it for enforcing some rules on commits, and I am doing it on detached branch).

**To Reproduce**
[code]

Results in an exception:
[code]

**OS Version:**
Python 3.6.9
Ubuntu 18.04.3 LTS

**Dummy Workaround:**
git_rep

[2019-08-22 13:53] ishepard commented on #55
Hi @Vox1984, thank you for opening the issue. I just tried myself and indeed it doesn't work.
I will fix it soon.

On a side note, the problem will persist if you do checkouts or ask whether the commit is in the main branch (`commit.in_main_branch`). So my suggestion is to use start pydriller in a clean state, then use `GitRepository.checkout(commit_hash)` to checkout the commit, and then analyze

[2019-08-22 13:56] #55 closed

[2019-08-23 07:56] Vox1984 commented on #55
Hi @ishepard , thank you for fixing it so quickly!, I am amazed.
I have tested your change it and it works fine.

Thanks a lot!

[2019-08-23 08:18] Vox1984 opened #56 "git diff unified output"
**Is your feature request related to a problem? Please describe.**
currently pydriller is using default git-diff output instead of unified output (-U0 flag).
For example:

[code]
[code]
The numbers of changed lines are different, and they are an exact match with the actual lines in the file while -U0 flag is used. The difference in numbers between U0 and default is non-deterministic as tested on s

[2019-08-23 08:32] ishepard commented on #56
Hi @Vox1984! Thanks again for opening the issue 👍
So, the diffs of pydriller are **always** unified diffs. With -U<n>, the only thing that changes is that git will not put the context code around the modified lines.
Let me explain: let's take `test-repos/git-1`, commit `d11dd6734ff4e60cac3a7b58d9267f138c9e05c7`.
If I run the command:
[code]
the output is:

[code]
As you can see, git by default put

[2019-08-23 23:52] ishepard commented on #56
Let me know if you need more help on this, but in the meanwhile I will close this issue since I don't plan to modify the diff.

Thanks again!

[2019-08-23 23:52] #56 closed

[2019-08-24 11:22] Vox1984 commented on #56
Hi @ishepard
It was just a suggestion, not a bug... Aprreciate your answer,
as I need line numbers, I modified what I needed and it works for me.

Thans a million for the library.

[2019-08-27 14:29] ishepard commented on #54
Ok, in the branch `pygit2` I almost finished the porting to pygit2. All the tests pass.
I was looking at `test_memory_consumption` and, to analyze 1 year of hadoop` we have:
[code]
This means that with pygit2 we are ~40% faster.

[2019-09-02 08:41] gotec opened #58 "UnicodeDecodeError while reading some commits"
**Describe the bug**
When reading certain commits (likely containing non utf8 characters), the commit object breaks. A `UnicodeDecodeError` error is thrown when trying to access most properties. For details see the example below.

**To Reproduce**
E.g. commit 13e644bb36a0b1f3ef0c2091ab648978d18f369d in https://github.com/gentoo/gentoo.

[code]

**OS Version:**
Ubuntu 19.04

[2019-09-02 10:43] ishepard commented on #58
hi @gotec ! Thanks for finding this.
Indeed, it seems that for some reason GitPython can not decode the date of the commit.
This code fails:
[code]
I am gonna open an issue on GitPtyhon to check why this happens.

[2019-09-02 12:37] gotec commented on #58
hi @ishepard thanks for looking into this.

[2019-09-18 07:32] ishepard commented on #58
I am gonna close the issue since my fix in GitPython has been merged. Thank you again!

[2019-09-18 07:32] #58 closed

[2019-09-18 07:33] ishepard commented on #54
As explained in the PR, pygit2 has problems with resources and the improvement doesn't seem to justify this. So I am gonna close this issue for now

[2019-09-18 07:33] #54 closed

[2019-09-18 07:39] gotec commented on #58
Thanks again for looking into this. In this case I look forward to the next release of gitpython. However, I'm even more excited regarding your transition to pygit2!
Cheers

[2019-09-18 08:10] marco-c commented on #54
Oh, that's a pity :(
The memory issue is probably due to some leak in pydriller, as pygit2 is just bindings to libgit2 (the `git` binary uses `libgit2`, and `gitpython` uses the `git` binary, so if the memory issue was due to `libgit2` it would affect `gitpython` too).

[2019-09-18 08:23] ishepard commented on #54
Indeed I thought so too, but it's not the case.
I compared GitPython and Pygit2 directly. Here's the code:

[code]

And the results for Pygit2 is https://pastebin.com/s4Q8nziK
For Gitpython is https://pastebin.com/DX1W38sC.

The difference is crazy high. And notice that in pygit2 the memory continues to go up, while for Gitpython it stays still to 25MB.
Strangely enough, for pygit2 **it starts** a

[2019-09-18 08:25] ishepard commented on #54
I don't think the problem is libgit2, I think the problem is pygit2. They probably don't use Generators and use a lot of dictionaries. Dictionaries in python requires quite a lot of memory

[2019-09-18 08:38] marco-c commented on #54
A large part of pygit2 is just C code, so I would be surprised if that was the case. For example, here's the implementation of walk: https://github.com/libgit2/pygit2/blob/24d176c3d9b72d33d604e3c2cf08557285acb0af/src/repository.c#L631. The situation you're describing seems more like a memory leak rather than simply using more memory because of lists/dictionaries.

I'll file an issue on their repo

[2019-09-18 08:40] ishepard commented on #54
That's true. Let's see what they have to say.

[2019-10-30 13:21] ishepard commented on #50
Closing the issue due to inactivity. Feel free to open it again

[2019-10-30 13:21] #50 closed

[2019-11-25 08:41] #12 closed

[2019-12-10 08:56] yusufsn opened #59 "Implement histogram algorithm for diff"
**Problems**
The `diff` utility calculates and displays the differences between two files, and is typically used to investigate the changes between two versions of the same file. Git offers four `diff` algorithms, namely, _Myers_, _Minimal_, _Patience_, and _Histogram_. Without an identifying algorithm, _Myers_ is used as the default algorithm.
In textual differencing, all `diff` algorithms are co

[2019-12-10 09:47] ishepard commented on #59
Hi @yusufsn ! Thank you for this, and congrats for the paper! I will have a look at it soon

[2019-12-10 12:42] s0nata opened #60 "Issues with filtering commits by file type"
**Describe the bug**
Filtering commits by file type modified seems to be not really working. Please see the script below for a MWE. Using filtering as in examples in the [docs](https://pydriller.readthedocs.io/en/latest/configuration.html).

**To Reproduce**
[code]

The output for me is:

[code]

**OS Version:**
Linux

My python installation is:
[code]

[2019-12-10 12:45] ishepard commented on #59
So, I read your paper, very interesting work! I was actually not familiar with these algorithms, I learnt something new of `git diff`, thanks! :)

As for the change: many people relies on the `git diff` functionality of pydriller, and I am not feeling comfortable in changing the algorithm right away. I can imagine a scenario in which a researcher wants to check if the output of pydriller is correc

[2019-12-10 12:47] ishepard commented on #60
Hi @s0nata ! Thank you for spotting this.
My guess is that the double filter is not working, for some reason.

I will have a look at it.

[2019-12-10 13:15] ishepard commented on #60
Ok, so I checked and it's correct.
The reason is that in those commits there are `java` files.

Note that the filter is not exclusive: it doesn't mean "only commits that modified ONLY java files", but commits that "modified at least 1 java file". I will clarify this in the docs as well, since it's not clear.

[2019-12-10 13:29] s0nata opened #61 "filtering out commits with whitespace-only changes"
**Is your feature request related to a problem? Please describe.**
How hard would it be to add an option to include/exclude whitespace changes in diffs? More specifically, if a file modification in a commit only contains whitespace formatting changes.

**Describe the solution you'd like**
Maybe some commit filtering parameter like `only_modifications_nowhitespace=true/false` for the `RepositoryMin

[2019-12-10 13:31] s0nata commented on #60
@ishepard OK, I see, thanks! Should I close this issue now, or you'll do it later with the fix in the docs?

[2019-12-10 13:40] ishepard commented on #61
Hi @s0nata!
You're right, in some cases indeed it could be useful to just skip those lines. Note however that the default behaviour of Pydriller should be to "mimic" Git. By default Git reports those lines, so I would leave it like that.

However, as you suggested, it can be a setting of RepositoryMining.

Would you be available to implement this feature?

Thanks!

[2019-12-10 13:43] ishepard commented on #60
Perfect! :)

I will close it thanks!

[2019-12-10 13:53] #60 closed

[2019-12-10 21:20] yusufsn commented on #59
I think a "flag" is a good idea. So that can make us select one of the available `diff` algorithms based on our goals.
But it is possible that most people still don't know the differences between those 4 `diff` algorithms (or at least 2: __Myers__ and __Histogram__). So, how to explain them in the tool?

[2019-12-11 08:28] ishepard commented on #59
I understand your concern of getting people to know the 4 diff algorithms, however doing this through a tool is really difficult.
We can of course write it in the documentation, and we can point to your paper. Would this work for you?

[2019-12-11 11:20] yusufsn commented on #59
I agree with you to write the description of each algorithm in the documentation.
However, can you add those diff algorithms as a choice for users (at least _Myers_ and _Histogram_) in the tool?

[2019-12-11 12:25] ishepard commented on #59
Mmm I don’t know if I understood The question correctly. My plan was to add this option as a flag, and explain this flag in the doc.

Is this what you mean?

[2019-12-12 09:55] yusufsn commented on #59
Yes, that's what I mean. Great!!!

[2019-12-12 14:14] s0nata commented on #61
@ishepard I'm afraid, no - not a python programmer, that is why I was initially asking whether implementing this functionality is hard or not :-)

[2019-12-12 14:19] ishepard commented on #61
@s0nata ok no worries then, I will implement it soon 😄

[2019-12-14 11:15] #59 closed

[2019-12-14 11:17] ishepard commented on #59
Hi @yusufsn! In the PR #64 I implemented the histogram diff. Now it's an option of `RepositoryMining` that you can set.
When you have time, could you please update the documentation? You can also put the link to your paper.

Thanks!!

[2019-12-16 15:13] hsellik opened #66 "'Tree' object has no attribute"
Describe the bug:
Trying to analyze a git repository which was ported from SVN.

To Reproduce:
Running very simple code on repo (which should not produce any errors?):
[code]

OS Version:
MacOS

PyDriller Version:
1.9.2

Logs:
[code]

Any idea what could be the issue here?

[2019-12-16 15:19] ishepard commented on #66
Hi @hsellik!
From the stack trace, I see the error happens in GitPython (`git/objects/submodule/base.py`).
Would it be possible for you to share the repository you're using? So I can test it personally. GitHub URL or similar will work.

Thank you!

[2019-12-16 15:27] #48 closed

[2019-12-16 15:34] hsellik commented on #66
Unfortunately, it's not possible for me to share the repository.

[2019-12-17 04:41] yusufsn commented on #59
I sent a pull request to update the documentation.

Thank you.

[2019-12-17 08:25] mauricioaniche commented on #66
Based on https://github.com/readthedocs/readthedocs.org/issues/4371 and https://github.com/gitpython-developers/GitPython/issues/279, I'd try to give pydriller a git repository with a submodule, and see if this exception can be reproduced in a more isolated way.

[2019-12-17 10:30] hsellik commented on #66
Okay, so I tried with a small [example project](https://github.com/githubtraining/example-dependency) and it works perfectly fine.

However, I noticed that the repository I wish to work with has the submodules in the `.gitmodules` file, but the module folders themselves are not pushed to the repository. The case is described in this [Stackoverflow post](https://stackoverflow.com/a/39766926).

Remo

[2019-12-17 10:30] #66 closed

[2019-12-17 10:35] ishepard commented on #66
Perfect, good to know this! Thanks for taking the time investigating the error 😄
Happy mining!

[2019-12-17 12:41] #61 closed

[2019-12-17 14:11] marco-c opened #69 "Use --histogram for git blame too"
https://link.springer.com/article/10.1007/s10664-019-09772-z reports better results for SZZ when using "--histogram".
Right now pydriller uses it for getting modifications, it might be useful to use it for blaming too.

[2019-12-17 14:30] ishepard commented on #69
Hi @marco-c !

Yes you're right. We could do it automatically to be honest..that function is mainly used by researchers to get the buggy commits, hence if we have proofs that using "--histogram" produces better results, I would say that we can put it by default.

[2019-12-18 14:10] marco-c opened #70 "Use --ignore-revs-file instead of hyper-blame"
It looks like "hyper blame" is now included in git itself (see https://stackoverflow.com/a/57129540/5769903 for details).

It might be beneficial to switch to this instead of having a custom implementation. It also has some additional features, e.g. "unblamable" lines.

[2019-12-18 14:13] ishepard commented on #70
Hey marco,
thanks for getting this. It's wonderful news 😄 amazing, so I can remove our implementation of hyperblame

[2019-12-20 12:50] jphgoodwin opened #71 "Ability to provide a directory to store clone of remote repo instead of using a temporary directory"
**Problem**
For my work I need to access the other files in the repo that weren't altered by the commit. If I'm using a remote repo then the clone is stored in a temp folder and is inaccessible.

**Potential solution**
I need the ability to access the cloned repo when iterating over commits. As I see it there are two main ways of doing this: first you could make the temp folder accessible (the bes

[2019-12-20 14:28] rafed123 opened #72 "commits from "git log --all""
By default RepositoryMining().traverse_commits()  shows the commits can be seen by running "git log". Is there a way to see all the commits? i.e "git log --all"

If not, it'd be really useful for me if that feature was available. :/

[2019-12-20 14:47] ishepard commented on #72
Hi @rafed123!
I think it's definitely possible, it can be an option of RepositoryMining.
Would you be available to create this feature?

Thank you!

[2019-12-20 14:51] ishepard commented on #71
Hi @jphgoodwin!
Yes indeed, currently it's not possible.
If you want it though, you could clone it by yourself (using GitPython, or Git manually) and then run Pydriller.

However, what you're suggesting might be a good option. We can have a parameter in RepositoryMining, something like `clone_repo_to` that, if set, will clone the repo in that directory.

Would you be available to create the PR? 😄

[2019-12-20 15:20] jphgoodwin commented on #71
Yes, I'll look at implementing it and submitting a pull request.

[2019-12-21 12:50] rafed123 commented on #72
I could give it a try. Gonna need a bit of time though.

[2019-12-21 13:00] ishepard commented on #72
Yes of course, take the time you need! If you need help just comment on this issue, or open the PR and I will comment there.

Thanks!

[2019-12-21 15:03] marco-c commented on #70
The current `test_get_commits_last_modified_lines_hyper_blame_ignore_hash` is failing when using --ignore-revs-file instead of hyper-blame.

[code]

540c7f31 is not skipped despite being in the ignore list. This is actually because the line is "unblamable":
[code]

Indeed, the test is not really reflective of reality because the skipped commit was not really a meaningless commit. We should write a

[2019-12-22 11:34] #71 closed

[2019-12-23 16:16] #70 closed

[2019-12-24 03:11] wangpeipei90 commented on #72
From what I can see,

There might be a misunderstanding about "git log --all" does.
See the discussion on [StackOverflow post](https://stackoverflow.com/questions/29756637/what-does-git-log-all-do)

[2020-01-29 16:16] ishepard opened #77 "Only methods that changed in the commit"
Request from a user:

[code]

This is an old issue #24. With the latest changes of Pydriller it's definitely possible.

[2020-01-31 07:19] HolgerNie opened #78 "Get tag of file"
Is there a way to get the tag of a file in the repo? I can get the author but not the tag.

Holger

[2020-01-31 09:16] ishepard commented on #78
Hi Holger!
I am not familiar with the tag of a file. What do you mean by that?

[2020-01-31 12:09] HolgerNie commented on #78
Hello,
we're about to convert CVS to GIT. With CVS you could also tag single files. I guess we have to treat this differently in GIT.
Thanks for the quick feedback Greetings Holger

[2020-02-01 22:01] ishepard commented on #78
Ok perfect 😄 Feel free to contact me if you have other questions!

[2020-02-01 22:01] #78 closed

[2020-02-03 12:45] stefanodallapalma opened #81 "Method traverse_commits() returns more commits than expected for some repositories"
For some repositories like ```UnderGreen/ansible-role-mongodb``` I get wrong results when calling the method ```traverse_commits()```.

**How to reproduce:**

[code]

**Expected result:**

[code]

**Actual result:**

[code]

**Version:**
I've installed the latest version locally (from commit ```e4449b602be0dff8dc0a49a466ec3dbf29ec88fb```).

The same behavior appears in PyDriller-1.10.1.

[2020-02-04 09:34] ishepard commented on #81
Hi! Thanks for catching this. I will look at it soon.

[2020-02-04 10:10] ishepard commented on #81
So, as I imagined, all those commits share the same timestamp. What pydriller does to filter by commits is to get the date of the commits and then filter by dates. However, since those commits have the same timestamp, they all come up in the result.

I will work on a fix soon. Thanks!

[2020-02-05 15:19] #81 closed

[2020-02-05 15:19] ishepard commented on #81
Thank you. I now fixed it.
I will release a new version of Pydriller soon!

[2020-02-06 12:41] stefanodallapalma opened #83 ""Now the user needs to change from_commit and to_commit if reversed_order is True" may be misleading"
Hi @ishepard ,

I have noticed that during commit https://github.com/ishepard/pydriller/commit/bec86e2fe0c027032e8f66427eb4fd363c65e838 you have swap  ```from_commit``` and ```to_commit``` in the test data for the process metrics to reflect the changes you have done in commit https://github.com/ishepard/pydriller/commit/f84047a2579a4f0b282aebc66a3e6a8d13ae2871.

Although those tests pass, I think

[2020-02-06 13:57] ishepard commented on #83
Hi @stefanodallapalma! Yes indeed, you're right. I changed the behaviour.
I think it's just a matter of deciding who to upset.

If I have 4 commits (A, B, C, D), and I ask them in reversed order, I will obtain (D, C, B, A). Now, given this list, what's the `from_commit` and `to_commit`?

Yesterday I was debugging a repo, and I was printing the commits in reverse order, and I was looking at somethi

[2020-02-06 14:24] mauricioaniche commented on #83
Maybe there's no need for the `reverse_order` config. Pydriller could detect whether A happened before B, or B happened before A, and go for it. This `reverse_order` thing seems like more of a "Git low-level thingy", and maybe it should indeed be abstracted away.

[2020-02-06 14:28] ishepard commented on #83
Mmmm, indeed, that would work in case of from_commit and to_commit. We can just check if they are in the right order, and if they are not, we swap them.

However, I am not in favour of removing the option, since sometimes we need to traverse the order from a different direction. TBH, what we call "reverse" it's actually the default behaviour of git. And what we call "default" it's actually reverse

[2020-02-06 14:50] stefanodallapalma commented on #83
Ciao @ishepard,
with this example the new behavior is much more clear to me.
I've struggled a bit understanding it by just reading at the [doc](https://github.com/ishepard/pydriller/blob/master/docs/configuration.rst).
If you decide to proceed that way, please consider adding a similar example in the doc.

Indeed, but we have to account for it also in their implementation by inverting ```from_comm

[2020-02-06 15:01] ishepard commented on #83
Yeah you're right, sorry for that. But @mauricioaniche's idea is better I think. Let's just add a check whether from_commit and to_commit are in the right order (we can copy paste my old code, and just add the check). I will add this fix soon.

[2020-02-06 16:08] stefanodallapalma commented on #83
Yes, I agree, I like his solution :+1:

[2020-02-07 10:38] #83 closed

[2020-02-11 09:29] stefanodallapalma opened #85 "Need to test reversed_order=True with (from_commit=None, to_commit=sha) and (from_commit=sha, to_commit=None)"
The last four commits of pydriller are (from oldest to newest):

[code]

When testing the following code:

[code]

I **expect** the following:

[code]

but I **obtain** all the commits from the first to ```from_commit```:

[code]

The opposite happens when ```from_commit=None```. For example, with

[code]

I **expect** the following:

[code]

and **obtain** all the commits from the latest to ```to

[2020-02-11 09:38] ishepard commented on #85
Hi Stefano!
The current implementation is correct. If there are these commits:
[code]
normally pydriller would return them like: `E D C B A`.
If you ask them in reverse order, then it would return them like: `A B C D E`.
If you know add `from_commit=B`, then it will return `B C D E`.
This is what's happening in your case: you are asking, in reverse order, the commits from `13c29c9`. That are all t

[2020-02-11 10:12] stefanodallapalma commented on #85
Hi Davide!
Yes, indeed, this helps. To get what I expect I need to call

[code]

However, honestly, I think that some examples in the doc could help to clarify.
I am noticing that I have intended the behavior in a slightly different way wrt you, that is, if there are these commits:

[code]
normally pydriller would return them like: ```E D C B A```.

My understanding was that when setting, say, ```

[2020-02-11 10:26] ishepard commented on #85
Indeed, makes sense to me! I will update the docs.
Thanks!

[2020-02-11 10:26] #85 closed

[2020-02-12 14:01] dctanner commented on #72
I think you can do this today by using the option `only_in_branch='--all'`, even though it's a little bit of a hack.

[2020-02-13 12:06] ishepard commented on #72
@dctanner that's true, but after searching a bit for what `git log --all` does, it seems it's not that useful. I will close this issue and re-open it if needed.

[2020-02-13 12:06] #72 closed

[2020-02-23 10:46] greninja opened #89 "Modified files are not fetched for merge commits"
**Describe the bug**
I fetched all the commits from a [repository](https://github.com/PhilJay/MPAndroidChart) using the standard `commits = list(RepositoryMining(repo_path).traverse_commits())`. It returns 2061 commits (as expected). Out of these, 331 commits are merged commits (for which `commit.merge` is true). For these 331 merged commits, PyDriller returns an empty list of modified files, even

[2020-02-24 09:58] ishepard commented on #89
Hi @greninja! Thank you for opening the issue!
You're right, pydriller doesn't return the modified files of a merge commit. However, this is not a bug, it's a feature 😃
Let me explain. In a merge commit, the files are not actually modified (more on this later, but for now, pass me this sentence). What you see in GitHub is not what changed in the merge commit, but just the diffs between all the fil

[2020-02-25 09:21] #89 closed

[2020-02-25 12:31] greninja commented on #89
Hey @ishepard, that was a really lucid explanation! thanks!

[2020-02-27 10:06] marco-c opened #90 "to_commit and from_commit no longer support HEAD"
There have been some recent changes to traverse_commits options that made some of my code break. I've tried quickly fiddling with the options, but it didn't help.

In the end, after debugging pydriller's code, I found out that the problem is that passing HEAD to either to_commit or from_commit breaks a lot of pydriller's assumptions.

I think HEAD (and similar references) should be supported, or c

[2020-02-27 10:09] ishepard commented on #90
Hi @marco-c!
Could you provide me with an example of code that doesn't work?
Thanks!

[2020-02-27 10:22] marco-c commented on #90
[code]

[2020-02-27 10:23] ishepard commented on #90
thank you!
I will try it out.

I wonder what change I made to break that 😕

[2020-02-27 10:24] marco-c commented on #90
Another case, not sure if it's the same underlying bug, but it can probably be fixed similarly:
[code]

[2020-02-27 10:29] ishepard commented on #90
the thing is that the code you posted should have never worked 😄
for those filters, what I do is:

[code]
so this will be translated to:

[code]
which is of course wrong. I will work on a fix soon.

Thanks!

[2020-02-27 10:31] marco-c commented on #90
`commits = list(RepositoryMining(".", single="HEAD").traverse_commits())` was actually `commits = list(RepositoryMining(".", from_commit="HEAD", to_commit="HEAD", reversed_order=True).traverse_commits())` in the code; it worked with pydriller 1.9.2.

[2020-02-27 11:04] marco-c opened #91 "Recent changes to traverse_commits broke existing code without warnings"
`RepositoryMining(".", from_commit=older_commit, to_commit=newer_commit, reversed_order=True).traverse_commits()` used to work.
Now, it returns all commits in the repo, without printing any warning.

Instead, you have to use `RepositoryMining(".", from_commit=newer_commit, to_commit=older_commit, reversed_order=True).traverse_commits()`.

[2020-02-27 11:11] ishepard commented on #91
yes indeed you're right. The last release inserted this bug.

However, I already fixed it. I just have to publish the new release.

I will do it with the fix of the other issue (which I have already done, I am testing it right now)

[2020-02-27 12:23] #90 closed

[2020-02-27 12:23] #91 closed

[2020-02-27 12:27] ishepard commented on #91
hey Marco,
I just released version 1.11.1, with the patches.

Thanks again!

[2020-02-27 16:02] marco-c opened #93 "Results are not consistent between traverse_commits and git log --reverse"
`git log d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0^..ed0d83d64365762361bcc491f72c33b272bc815f --reverse` shows:
[code]

Instead, with pydriller:
[code]

[2020-02-27 16:02] marco-c commented on #93
With this repo: https://github.com/mozilla/gecko-dev.

[2020-02-28 09:33] ishepard commented on #93
I just tried on a fake repo, and having commits:

A -> B -> C -> D
if I ask from B to D, I get B -> C -> D
if I ask from B to D in reverse order, I get D -> C -> B

Both are correct.
What's the problem with your example?

(I am cloning gecko, though it's taking forever 😄). As soon as I finish cloning it, I will debug it

[2020-02-28 09:39] marco-c commented on #93
They are not in the same order as git log. With git log, after d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0 comes 6c05c922e3dfb1a200e3db6318b5197b9d85c08c; with pydriller after d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0 comes ee1e094b81f0efa26c1bc570959b8981ae425488.

[2020-02-28 09:51] ishepard commented on #93
mmm commit "ed0d83d64365762361bcc491f72c33b272bc815f" doesn't exist

[code]
so
[code]
returns:
[code]

[2020-02-28 09:55] marco-c commented on #93
Sorry, it was a local commit, try using HEAD

[2020-02-28 10:06] ishepard commented on #93
OK. Indeed you are correct.
Pydriller returns
[code]
while git returns:
[code]

The funny thing is that pydriller returns the commit `6c05c9` (and all the commits after) as commit number 6569 and so on.

But I have some doubts that Pydriller is not correct.
Commit `6d6aa4` is of October 25. According to git, the next commit was `6c05c92` what was January 15. Mmmmm

[2020-02-28 10:20] marco-c commented on #93
ee1e094b81f0efa26c1bc570959b8981ae425488 is from 22 Nov, so it's the same here: there are surely other commits in chronological order that are between d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0 and ee1e094b81f0efa26c1bc570959b8981ae425488.

We should probably:
1) Make sure they at least return the same commit hashes, even if not in the same order;
2) Figure out what is the order pydriller is returni

[2020-02-28 10:29] marco-c commented on #93
NOTE: the gecko-dev repository is a mirror of a mercurial repository. In the Mercurial repository, d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0 was committed on 25 Oct put landed on 14 Jan. The next commit landed was 5f7e7a33fb8bf165190240081b108f39ad254e11 committed on 13 Jan and landed on 14 Jan.

`git log d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0^..ed0d83d64365762361bcc491f72c33b272bc815f --reverse

[2020-02-28 10:39] ishepard commented on #93
Yes indeed,
I know that `git log` orders the commit by commit date, while it shows the author date.

So this might explain why we obtain difference results. The mirror dates are a bit different.
I use `git show --pretty=fuller COMMITHASHHERE` to see both author date and committer date.

As you can see, commit `d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0` landed on the 25th Oct according to git. But y

[2020-02-28 10:40] ishepard commented on #93
how can git understand that commit `d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0` landed on the 14th of January though I don't know. It's not reported anywhere.

[code]

[2020-02-28 10:57] marco-c commented on #93
Probably git doesn't know that, but it doesn't only rely on the commit dates but also on the paths between the commits, so it knows that ee1e094b81f0efa26c1bc570959b8981ae425488 came before d2990dc0e788ccd43e89b04f5c2f9d5a16c1eec0 without looking at their dates.

[2020-02-28 10:58] marco-c opened #94 "Support using topological order for traversing commits"
It can be useful in cases like https://github.com/mozilla/gecko-dev (see also #93).

[2020-02-28 11:01] marco-c commented on #93
They probably don't because `git log` shows fewer commits than pydriller, but that's OK as long as we understand the following.

I think this would still be useful to understand in order for us to document it, maybe we have to look at GitPython's source code.

I think we have a reasonable understanding now, it doesn't only consider dates but also path between commits. With #94 we can make sure we

[2020-02-28 11:12] ishepard commented on #94
I think we could change this issue to
"Let's use git commands to filter the commits instead of doing it manually".

Meaning, to filter by date, instead of checking the commit dates manually, let's just run `git log --after=SOMEDATE`.

To filter by commits, instead of looking at the commit hashes, let's just run `git log FROMCOMMITHASH..TOCOMMITHASH`

This would resolve so many problems 😄
Though it

[2020-02-28 11:30] mauricioaniche commented on #94
Maybe it's time for pydriller to stop "flattening out" the list of commits (and thus, assume that history is linear), and give to the user a more sound representation of the history of the project, e.g., a simple graph.

Just to give a concrete example of where it would be useful: in previous papers, when I tried to identify how long a code smell would survive, it was common to see "smell, not sme

[2020-02-28 12:20] ishepard commented on #94
I think pydriller should be as similar as possible to git. That's the main goal here: take advantage of python to do things that from the terminal would be more difficult.

Said this, we also know when pydriller is used: in MSR studies. So we should also take this into consideration, and ask ourselves what could make things easier for researchers doing MSR.

The way I see it, these kind of extensi

[2020-02-28 12:49] mauricioaniche commented on #94
You mean _as possible to git log_, then.

Is this graph tool available somewhere?

[2020-02-28 13:01] ishepard commented on #94
Yes we can say similar to `git log`.
We have to stick to what git returns to the terminal (by default). I understand that we can customise the output of `git log`, and we for sure can do it in Pydriller if we feel like it, but let's keep things simple by default.

Let's just use `git log` and display the results that you should obtain by running the same command on the terminal (this is what Pydri

[2020-02-28 13:06] NullConvergence commented on #94
The tool is available here: https://github.com/NullConvergence/GraphRepo

It basically indexes a repository in Neo4j and allows any tips of queries. You can find the details in the documentation, it only requires Docker.

A visualization is available by default in Neo4j so start with a small repo 😄

[2020-02-28 17:19] NullConvergence commented on #94
I forgot to mention that we have complex visualization prototypes, but they are not as flexible as Neo4j, because they don't (yet) allow queries. If you are interested and want to get your hands 'dirty', let me know.

[2020-03-02 08:57] ishepard commented on #77
Fixed in #95

[2020-03-02 08:57] #77 closed

[2020-03-06 14:59] #93 closed

[2020-03-07 11:58] marco-c commented on #93
@ishepard thanks for the fix!

[2020-03-07 11:59] marco-c commented on #94
I guess adding the `--topo-order` option should not be feasible, since #96.

[2020-03-08 16:45] stefanodallapalma commented on #85
Ciao @ishepard,

given ```from_commit = 'hash'```  and ```to_commit=None```, can you confirm whether pydriller

- selects first the commits from ```hash``` to the latest, and then reverses the order of the resulting hashes, or

- reverses the whole story first (from the latest commit to the first commit), and then select the commits starting from ```hash```?

I was running some experiments (based

[2020-03-08 20:41] stspbu opened #102 "Pickling creates new Commit instances (huge memory usage with multiprocessing)"
**Describe the bug**
I started to parallelize my code, which used pydriller to extract the source code of methods from commits. For that purpose, I used **multiprocessing** package. I encountered very high memory usage in just a few hours. It's known that multiprocessing uses **pickle**. And, as I found out, pickling **Commit** objects leads to new Commit instances in memory.

**To Reproduce**
I w

[2020-03-09 08:35] ishepard commented on #85
Hi @stefanodallapalma,
indeed, I now changed the filtering in Pydriller and I use git filter "--reverse" to reverse the commits.
I don't know how git does it, but what I use to select the commits and/or reverse is explained [here](https://git-scm.com/docs/git-rev-list).

[2020-03-09 08:37] ishepard commented on #94
It's the opposite: since I now use git filters, everything that is in [this page](https://git-scm.com/docs/git-rev-list) can be added as a flag to pydriller.
We definitely can add `--topo-order`, `--author-date-order`, `--date-order`, or whatever flag you like from that list 😄

[2020-03-09 08:54] ishepard commented on #102
Hi @stspbu,
thank you for catching this.

TBH, I never used (or tested) pydriller with multiprocessing. Overall, I think that if you need to parallelise the mining of, let's say, 1000 projects, you probably should run different instances of pydriller on different projects. Also, I had bad experiences on parallelising `Git` itself.

Said this, I will have a look on your code and see whether I can d

[2020-03-09 10:24] marco-c commented on #102
I suggest using multithreading. It usually doesn't help to improve CPU-bound workloads with Python because of the GIL, but this workload is probably IO-bound (and moreover Pydriller's main job happens when running `git`, and while a thread runs `git` it yields for another thread to run, so basically the GIL almost doesn't hurt here).

I personally use it in a multithreaded fashion, where each thre

[2020-03-09 14:42] stspbu commented on #102
Thanks you for the fast feedback.

When I wrote the first parallel version of my code (which eventually leaded me to this problem), I simply didn't think about the high cost of commits' exctraction at all. My code does pretty big calculations with them later, so I wanted to parallelize the most expensive part and look at results.

[2020-03-09 22:02] stefanodallapalma opened #103 "Unexpected behavior in RepositoryMining"
In the repository```DataDog/ansible-datadog```, the commit ```edf7f39adb5301c6d157cbc07291cc5cd6629dc2``` [precedes](https://github.com/DataDog/ansible-datadog/commits?after=62361a908eb821af75a1440cb215f857a1e9340b+150) ```5adf2f1659fb8686b27317aa7ee2f6468bbcdb38``` (in chronological order).

While running:

[code]

I expect

[code]

but obtain
[code]

The expected result is obtained by swapping

[2020-03-13 08:58] ishepard commented on #103
Hi @stefanodallapalma!
Thanks for catching this. This is definitely wrong, I will have a look at it now.

[2020-03-15 11:01] stefanodallapalma opened #105 "Question: when do I should expect modified_file.old_path to be None?"
I have a question: the documentation for the object modifications states [*"**old_path**: the old path of the file (can be _None_ if the file is added)"*](https://pydriller.readthedocs.io/en/latest/modifications.html).

Does it mean the standard behaviour of git is to set up the old_path to *something != None* and in some cases to *None*? Or is this handled by PyDriller itself?

For example, with

[2020-03-16 09:29] ishepard commented on #105
Hi @stefanodallapalma!
The old path and new path are handled by git itself.
In your case, I think you found a particular file addition since the file is empty.
By running `git show`, the output is:
[code]
In this case Git doesn't even show the old path or new path.

On the other hand, if we look at my repo, and let's take commit `e0c18a21fb918f40fdb74c81c6eacbf1abb62e16`, you can see that you adde

[2020-03-16 09:33] #103 closed

[2020-03-16 09:37] stefanodallapalma commented on #105
Hi @ishepard,
thanks for clarifying :)

[2020-03-16 09:37] #105 closed

[2020-03-17 14:00] #94 closed

[2020-03-17 14:35] marco-c commented on #94
There was a typo in my comment, `not` was supposed to be `now` :P

[2020-03-24 11:25] sims1253 opened #109 "Question regarding mining strategy"
This is not entirely about pydriller but I figured there might be enough experience here to help with this:

I am trying to get the history of a branch and have to work with the diffs of those commits.
Before I did this manually by using `git log --first-parent` and some parsing to get all the hashes that I am interested in and then using `hash^!` to get the diffs for each commit.

First, I am not

[2020-03-24 12:37] ishepard commented on #109
Hi @sims1253! I will try to answer your question, and suggest you a couple of articles to read to clarify this point. It's quite complicated as you can imagine :)

The answer to your question is no, doing `git log --first-parent` is not the same of `RepositoryMining(only_in_branch="branch")`. Let me explain first from the second case.

When you do `only_in_branch="branch"`, what pydriller does is

[2020-03-24 13:08] sims1253 commented on #109
Thank you so much for taking the time :)
What I am trying to do is tracking individual lines through history to be able to identify their origin later. The use case is a line-based version of Bugspots (predicting future bugs from past bugs on a file-level).
So if I get this right, I want `only_in_branch` and not `--first-parent` as I need all the changes. I, however, don't need merge commits as th

[2020-03-24 13:08] #109 closed

[2020-03-24 13:27] ishepard commented on #109
Indeed that's correct.
I would just use `only_in_branch='master'`, and that's it 👍

You're welcome! Happy mining 😄

[2020-03-27 15:57] gotec opened #110 "Newer versions of PyDriller (> 1.7) create git lock removing support for parallelised mining."
Hi Davide,
In our tool [git2net](https://github.com/gotec/git2net), we use PyDriller to interface with the git repositories that we mine mine co-editing relationships from. As this process is very time consuming, we have a parallel implementation that allows us to independently analyse different commits on multiple cores. This has worked great up to PyDriller 1.7.

**Describe the bug**
It seems th

[2020-03-27 16:23] marco-c commented on #110
One way to work around the problem is:
[code]

[2020-03-27 16:25] marco-c commented on #110
I believe the issue comes from writing to the repository configuration in https://github.com/ishepard/pydriller/blob/32f744a697927d9b856164e221ac534801d1bdee/pydriller/git_repository.py#L99.
Possibly, pydriller could implement the locking by itself. Or easier, it could open the repository and write the config in the constructor of GitRepository directly (mentioning in the documentation that openin

[2020-03-27 17:10] gotec commented on #110
Hi Marco,

I have implemented the work around you described and it seems to have done the trick.

Thanks a lot for your quick response!

Cheers,
Christoph

[2020-03-27 17:35] gotec commented on #110
Maybe I have celebrated to early here. While the tests are running fine, I still get errors from some workers when running outside of pytest. My implementation now looks as follows:

[code]
`thread_local` and `git_init_lock` are defined globally, as is `_process_commit`.

The only difference I see is the use of `multiprocessing.Pool` instead of `concurrent.futures.ThreadPoolExecutor`. Could that b

[2020-03-27 17:41] marco-c commented on #110
Yeah, my example applies when you use multiple threads. If you use multiple processes, you will need to use a multiprocessing lock instead of a threading lock, and you don't need a thread local variable, you can just use a global that you initialize in _init_process (in the multithreading case, the global would be shared between threads, so that wouldn't work; in the multiprocessing case, each pro

[2020-03-27 20:57] gotec commented on #110
Finally got it to run. For some reason, the lock does not seem to work when used in the ititialiser. Similar to [the setup shown here](https://stackoverflow.com/questions/28664720/how-to-create-global-lock-semaphore-with-multiprocessing-pool-in-python), I now only using the initialisation to pass the lock to the process and initialise the PyDriller GitRepository object there. This seems to work so

[2020-03-30 14:52] #110 closed

[2020-04-08 08:09] ishepard commented on #102
@marco-c at this point I was thinking, do you think it would make sense to have a built-in option to parallelise RepositoryMining? So that we can better control it in case of bugs, etc.
This is not the first time that someone complains about problems when using multiprocessing or multithreading...maybe it's time we do it

[2020-04-11 19:16] marco-c commented on #102
@ishepard it might make sense, but I don't know exactly what API we could offer. At the very least, we should have some tests that make sure we can use some of the already existing APIs from multiple threads / processes.

[2020-04-16 22:03] marco-c opened #114 "Consider using rust-code-analysis instead of (or in addition to) Lizard"
You might be interested in taking a look at https://github.com/mozilla/rust-code-analysis, it supports fewer languages than Lizard, but probably in a better way (especially C/C++).

[2020-04-17 07:38] ishepard commented on #114
thanks for sharing it @marco-c! I love it, it seems very cool!
Any way there is gonna be some kind of API in Python?
Lyzard is wonderful because I can add it as package in the requirements and call it directly from the python code..I guess I would have to spawn a process and parse the result in the case of rust-code-analysis?

[2020-04-17 11:46] marco-c commented on #114
At the moment, I'm using it through a REST API (see https://github.com/mozilla/bugbug/blob/a1111e5d55ec8001ad23a0fdadc38c9cd7a2c84a/bugbug/rust_code_analysis_server.py#L67), but we could possibly create a Python library to use it (https://github.com/mozilla/rust-code-analysis/issues/54).

[2020-04-17 11:53] ishepard commented on #114
Indeed, I think it could be a nice addition!
If I have time I could also work on it. We create a new library `py-code-analysis`, that internally uses rust-code-analysis (through REST APIs or parsing the output, whatever is the easiest one).
If you like this option we could start that package together.

Do you have any information on the performance of the tool?

[2020-04-18 11:10] marco-c commented on #114
I'd say we have two options:
- create a library which takes care of downloading the rust-code-analysis binary for the OS you're running on and uses the REST API (or the CLI interface) to execute it;
- create a native Python library as a wrapper of rust-code-analysis using PyO3 (a bit like https://github.com/mozilla/pyo3-parsepatch for https://github.com/mozilla/rust-parsepatch; another example is

[2020-04-30 10:57] mnagel opened #116 "from_tag/to_tag + multiple repos is broken"
**Describe the bug**
I want to analyse multiple repos and I want to anyalze between tags (present in all repos).

**To Reproduce**
[code]

[code]

**OS Version:**
Python 3.7 on Windows

[2020-04-30 13:09] ishepard commented on #116
Hi @mnagel!
Thank you for catching this.
I am indeed able to reproduce the error. It only appears when more than 1 repo is given in input..I will look into it!
Thanks!

[2020-05-01 08:53] ishepard commented on #116
I found the error, and I will work on a fix today 👍 thanks!

[2020-05-04 14:01] razi-rechan opened #118 "Get only Modified Methods"
I understand that methods in modifications contains all methods belongs to the modified class. Is this possible to get only modified methods please?

[2020-05-04 14:05] ishepard commented on #118
Hi @razi-rechan,
yes it is possible, it's called `changed_methods` (inside Modification of course).

[2020-05-04 14:16] razi-rechan commented on #118
I could not find changed_methods in Modification. Here is my code:

[2020-05-04 14:18] razi-rechan commented on #118
dt1 = datetime.datetime(2002, 4, 1)
dt2 = datetime.datetime(2010, 5, 1)
gr = GitRepository('C:/Users/abdul.razzaq.UL/git/eclipse.platform.swt/.git')
for commit in RepositoryMining('C:/Users/abdul.razzaq.UL/git/eclipse.platform.swt/.git', since=dt1, to=dt2, only_modifications_with_file_types=['.java']).traverse_commits():
    if(commit.merge):
        for mod in commit.modifications:
            pr

[2020-05-04 14:22] ishepard commented on #118
that is because you are only analyzing merge commits.
The current behaviour of Pydriller is to **not** return modifications of merge commits, since we can not parse those yet.

For reference, see
https://github.com/ishepard/pydriller/issues/109#issuecomment-603213851
https://github.com/ishepard/pydriller/issues/89#issuecomment-590243707

[2020-05-04 14:24] razi-rechan commented on #118
Even i remove that still there is no method/property named changed_methods in Modification, there is a property changed_type but not changed_methods

[2020-05-04 14:26] ishepard commented on #118
What version of Pydriller are you running?
The property is [here](https://github.com/ishepard/pydriller/blob/cc0c53cf881f5cd03ee4640798b99afbff67e474/pydriller/domain/commit.py#L344) and it was introduced in Pydriller 1.12

[2020-05-04 14:28] razi-rechan commented on #118
I am using 1.14, I installed in PyCharm

[2020-05-04 14:34] ishepard commented on #118
Mmmmm that is really strange.
The property is there and there are tests as well that call it.
Can you check the implementation of the `Modification` object on your local environment and see what's there? You can do it in Pycharm, just click on `mod` and see the code. It should be the same of [this](https://github.com/ishepard/pydriller/blob/cc0c53cf881f5cd03ee4640798b99afbff67e474/pydriller/domain

[2020-05-04 14:43] razi-rechan commented on #118
I got, two PyDriller were installed. Thanks for your help

[2020-05-04 15:15] ishepard commented on #118
You’re welcome! Cheers

[2020-05-04 15:15] #118 closed

[2020-05-04 15:52] mnagel commented on #116
Hi Davide,

thank you for the fast reaction. I am looking forward to the fix!

Best Regards
Michael

[2020-05-05 12:00] #116 closed

[2020-05-05 12:24] ishepard commented on #116
I just released version 1.15 with the fix!
Thank you again for catching the bug.
Cheers!

[2020-05-08 21:03] jacksonpradolima opened #120 "The modified files in a commit do not appear"
**Describe the bug**
Hello,
I am trying to mine some repositories. However, I have some problems. The modified files in a commit do not appear. For instance, the commit [290b7370c57b00b99c69a653a33a646f1f169a23](https://github.com/alibaba/druid/commit/290b7370c57b00b99c69a653a33a646f1f169a23) from repository **alibaba/druid**.

Am I doing something wrong?

Thanks in advance for your help

**To Rep

[2020-05-08 21:04] jacksonpradolima commented on #120
PyDriller version: 1.15

[2020-05-11 07:39] ishepard commented on #120
Hi @jacksonpradolima!
The reason why you don't see modifications in that commit is because it's a merge commit, and in those commits there are no changes (except for merge conflicts.)
For reference, see [link](https://github.com/ishepard/pydriller/issues/89#issuecomment-590243707).
But thank you for pointing it out, you reminded me that I didn't put it in the documentation

[2020-05-12 07:34] #120 closed

[2020-05-12 14:06] jacksonpradolima commented on #120
Thank you

[2020-05-13 10:17] mnagel commented on #116
Can confirm the fix! Thank you!

[2020-05-14 11:39] mnagel opened #121 "commit.project_name broken when working on multiple repos"
**Describe the bug**
commit.project_name broken when working on multiple repos

**To Reproduce**
[code]

gives

[code]

**OS Version:**
pydriller 1.15 with C:\Python37\python.exe

[2020-05-14 12:39] ishepard commented on #121
Hi @mnagel!
Thanks for catching this. It seems to me that many features are broken when multiple repos are given as parameter 😄 I will have a look at it, thanks!

[2020-05-14 13:05] #121 closed

[2020-05-14 13:55] ishepard commented on #121
Version 1.15.1 is out with the fix!

Thanks again!

[2020-05-18 14:45] jacksonpradolima opened #123 "There is a difference in commit information between RepositoryMining and GitRepository"
Hello

I tested the GitRepository using the same example provided in issue #120, and the output is as follow:

[code]

However, using a different example with the commit [c1729c81d805913ef3d7737211f970db88c814f5](https://github.com/alibaba/druid/commit/c1729c81d805913ef3d7737211f970db88c814f5) from **alibaba/fastjson** repository, I had the following output:

[code]

As you can observe, Repository

[2020-05-18 16:03] ishepard commented on #123
Hi @jacksonpradolima!
Thank you for opening the issue.
So I dug a bit deeper on the problem, and I discovered where the issue is: commit `c1729c81d805913ef3d7737211f970db88c814f5` is not in master branch.

One easy way to do it, is to run `git log | grep c1729c81d805913ef3d7737211f970db88c814f5`, you will see an empty list. This means that the commit is not reachable from the HEAD.
You can also se

[2020-05-18 16:35] ishepard commented on #123
I probably forgot to mention the most important thing:
if you want to traverse that commit (all the commits reachable from all the refs), you need to use `git log --all`. In pydriller you can achieve this by using `include_refs`.

[code]
prints:
[code]

[2020-05-18 17:48] jacksonpradolima commented on #123
Perfect!
That's what I'm looking for!

Thanks

[2020-05-18 17:48] #123 closed

[2020-05-26 12:32] jakob-ed opened #125 "RepositoryMining: 'reverse' is not the default order"
**Describe the bug**
The documentation for `RepositoryMining` states that the `order` parameter defaults to `reverse`. However, this seems to not be the case:

- If I set `order='reverse'`, the **newest** commit is yielded first by the `traverse_commits()` generator.
- If I don't specify `order`, the **oldest** commit is yielded first by the `traverse_commits()` generator.

I would expect both alt

[2020-05-27 11:35] ishepard commented on #125
Hi @jakob-ed!
So, by default Pydriller returns the commits from the oldest to the newest.
If you need viceversa, you should use `order='reverse'`.
I will update the documentation and clarify this! Thank you

[2020-05-27 11:35] #125 closed

[2020-05-27 15:17] fscheidt opened #126 "api method to get pydriller version"
couldn't found a way to get pydriller currently version when using it as an api (except reading setup.py). This is a super useful and simples (i guess) feature, mainly when dealing with multiples studies to replicate and compare their experiments results. Many python api provide a dunder method like `__version__` which I think will help a lot for the documentation process in enviroments like jupyt

[2020-05-28 07:13] ishepard commented on #126
Hi @fscheidt!
That indeed make sense to me.

I will have a look at it soon, thanks!

[2020-05-28 08:32] emaiannone opened #127 "Cloned repositories are not deleted when in /tmp"
Hello, I was working on a dataset of thousands of commits, involving about hundreds of different repositories. So I decided to use PyDriller.

**Describe the bug**
Before knowing this problem, I was creating an instance of `RepositoryMining`, giving it the list of all remote repositories URLs. I knew that the default clone location would be /tmp... and it was, but this quicky got filled up, slowin

[2020-05-28 09:31] ishepard commented on #127
Hi @emaiannone!
Thank you for catching this.

Well, needless to say that this should not happen 😄 I will have a look at it ASAP! thanks

[2020-05-28 12:59] #127 closed

[2020-05-28 13:10] ishepard commented on #127
There was indeed an error due to some recent changes I made.
Now it should be fixed in version 1.15.2.

Thank you again!

[2020-05-28 13:11] ishepard commented on #126
I just published a new version of pydriller with the change!
Version 1.15.2.

Now you can run `pydriller.__version__`

[2020-05-28 13:11] #126 closed

[2020-06-01 22:48] jemaf opened #129 "traverse_commits() fails when working with specific git repository."
**Describe the bug**
I am using pydriller to fetch git information from a list of GitHub repositories. For some reason, `traverse_commits()` is failing for the repository `https://github.com/jbrowncfa/Cryptobomb`. Here is the error:

[code]
I tried using both remote (GitHub URL) and local (cloning it first) methods. Same problem happened.
Curiously, I can execute `git rev-list --reverse HEAD --` w

[2020-06-02 07:46] ishepard commented on #129
Hi @jemaf!
Thank you for opening the issue.

The problem seems to be with GitPython itself, for some reason.

[code]
I will have a look into it, and maybe open an issue on Gitpython. But this is not related to Pydriller itself so I will close the issue 😄

BTW: do you have other repositories where it's failing? Because I tried some of mine and it works in all of them..I am trying to understand why

[2020-06-02 17:28] jemaf commented on #129
Hi @ishepard,

Thanks for the quick return!
I didn't realize the problem was with a third-party library, feel free to close this issue 😉.

This was the first repo in which I got an error from the list I'm mining, so I'm not sure if it can happen again.
If that helps, I can let you know in case I find other sorts of issues.

[2020-06-02 17:56] jemaf commented on #129
BTW I've just opened this issue at GitPython ([here](https://github.com/gitpython-developers/GitPython/issues/1016)).

[2020-06-03 08:02] ishepard commented on #129
Perfect! Thank you!

[2020-06-03 08:02] #129 closed

[2020-06-03 20:27] fengxia41103 opened #130 "GitRepository get_list_commits is missing commits"
**Describe the bug**
`get_list_commits` will miss a hash, while `get_commit(<hash>)` function will return a valid object.

**To Reproduce**
I manually clone the same repo to local using two different methods:
A: `git clone <repo url>`
B: `git clone --mirror <repo url>` (see https://git-scm.com/docs/git-clone)

There was a particular hash I was troubleshooting.

If using `get_list_commits` on A, it

[2020-06-04 07:35] ishepard commented on #130
Hi @fengxia41103!
`get_list_commits` runs `git rev-list` under the hood. If the commit is not reachable from `HEAD`, it will not be analysed. This is the same if you run `git log` or `git rev-list` from the terminal.

`get_commit(<hash>)` on the other hand returns a specific commit (*i.e.*, `git show <hash>`), no matter in what branch it is. So it will return the correct commit.

Try to run `Repos

[2020-06-04 09:57] mnagel opened #131 "default of reverse traverse"
**Describe the bug**
RepositoryMining doc says:
        :param str order: order of commits. It can be one of: 'date-order',
            'author-date-order', 'topo-order', or 'reverse'. Default is reverse.
But I seem to observe different behavior between setting reverse and skipping the option.
The code in conf.py also looks as if reverse was NOT the same as the default:

[code]

[2020-06-04 10:01] ishepard commented on #131
Hi @mnagel,
thank you for catching this! I forgot to update the docs.
This is the new docs, as reported [here](https://pydriller.readthedocs.io/en/latest/repositorymining.html).

- **order** (str): one between ‘date-order’, ‘author-date-order’, ‘topo-order’, and ‘reverse’ (see [this](https://git-scm.com/docs/git-rev-list#_commit_ordering) for more information). NOTE: By default, PyDriller returns

[2020-06-23 17:28] ralphielauren opened #132 "filepath flag not working as expected"
**Describe the bug**
The commits that I get for a particular filepath have nothing to do with that file and are even older than the date the file was committed.

Following the docs, I'm want to get the commit_hashes that have affected a particular file. From the docs:
`# Only commit that modified "Matricula.javax"
RepositoryMining('path/to/the/repo', filepath='Matricula.javax').traverse_commits()`

[2020-06-23 17:43] ralphielauren commented on #132
It seems that merge commits are problematic in my results. Meaning merge commits are included even thought they didn't touch the files I'm looking into and are even older that the initial commit of the file in `filepath`.

[2020-06-24 15:32] #132 closed

[2020-06-24 15:34] ralphielauren commented on #132
This flag works as expected.

My issues were due to how `git log --follow` checks for renames and file moves. Some files were very similar (over the similarity threshold) so it was following their commit history too.

 ( [git source code ](https://github.com/git/git/blob/b06d3643105c8758ed019125a4399cb7efdcce2c/tree-diff.c#L580)& [explanation](https://stackoverflow.com/questions/43906993/how-does-

[2020-07-11 12:28] #131 closed

[2020-07-11 12:29] ishepard commented on #130
I will close this issue assuming you have solved the issue 😃

[2020-07-11 12:29] #130 closed

[2020-07-22 16:12] loeschg opened #133 "Support `~` as a path prefix (for `GitRepository#files`) or at least clarify in the docs"
**Is your feature request related to a problem? Please describe.**
I was exploring this library, particularly the `GitRepository#files`. I supplied a repo path that included the home shorthand `~/repos/test-repo` which resulted in an empty array. Switching to the fully qualified path got me the expected results.

**Describe the solution you'd like**
I'd like to see the home directory shorthand sup

[2020-08-02 07:32] ishepard commented on #133
Hi @loeschg! Sorry for the late reply!
I think clarifying this in the docs will indeed help.
Python `os.walk` indeed can not accept a relative path, but it can be solved using `asbpath`.
TBH, I would like to keep the behaviour similar to "the python way", so no relative paths.
I will update the docs! Thanks!

[2020-08-02 16:55] gotec opened #134 "commit.in_main_branch returns True for commits that do not exist in the main branch."
**Describe the bug**
Dear all,

I have recently started mining branches (other than the main branch) with PyDriller. In doing so, I found that `commit.in_main_branch` also returns True for commits that do not exist in the main branch. Is this the expected behavior? If so, do you have another function that checks if a commit is present in the default branch?

Many thanks,
Christoph

**To Reproduce*

[2020-08-02 17:06] ishepard commented on #134
Hi @gotec!
I haven't run your code, but I wanted to explain a bit this "main_branch" thing.
Git doesn't really have the concept of main branch, indeed you can rename the "master" branch to whatever name you'd like.
However, there is a default branch, that is the branch that is checked out when you first clone the repository.

Hence, in Pydriller the main branch is the branch that is checked out wh

[2020-08-02 18:19] ishepard commented on #134
I had a look at your code and indeed it's what I was thinking.
By itself the result is correct, it says that `['f58d707088feea78fae16aedd5bc70d38b0fe6fd', '089ec3abb570f10df47de38af129366a314be9f7']` are the 2 commits that are in the `mining_branches` branch.

However, since your default branch is `mining_branches`, Pydriller outputs that they are in the main branch.
This code instead will work:
[

[2020-08-02 18:41] gotec commented on #134
Thanks for the super quick answer! I am aware of the idea of the "default" branch  (which is usually the "master" branch). However, I was expecting the "default" branch to be the one that I check out when I do not provide a specific branch (see the first clone). However, I now understand your implementation which specifies that a commit is not in the branch that is currently checked out.

Thanks f

[2020-08-02 19:34] ishepard commented on #134
I think what you are looking for is something like "git log --all", that includes the commits starting from all the refs. In Pydriller this is implemented as "include_refs=True".

[2020-08-02 19:42] gotec commented on #134
Thanks a lot, I will try it out!

Cheers,
Christoph

[2020-08-02 20:12] gotec commented on #134
Seems like `git_repo.get_list_commits(all=True)` is exactly what I was looking for. Thanks again for the clarifications. I consider my issue resolved.

Best,
Christoph

[2020-08-04 15:42] ishepard commented on #134
Indeed I was able to reproduce. Though it's not Pydriller fault :)
If you navigate to `tmp_git_branch` (or `tmp_git_master`) and you get the branches of commit `40e36389f3443c8feb2a9274104c85e7e9c57fd5`:
[code]
you will see:
[code]
so this commit (according to git) is only on that branch. Of course it's not right.
So try to obtain the list of branches:
[code]
and you'll get:
[code]
So apparently,

[2020-08-04 15:48] gotec commented on #134
This is interesting! Do you have any idea why I can then get a commit from the repository (see your solution
from before https://github.com/ishepard/pydriller/issues/134#issuecomment-667707651) if that commit doesn't actually exist in the repository?

Thanks also for the quick fix that I saw while typing this!

[2020-08-04 15:56] ishepard commented on #134
Mmmm not sure about this one, I'd have to google a bit to find out 😄 but from my understanding, you already have all the commits in your local repo, but if you don't checkout the branch it's not indexed. But it's there anyway.
But this is just my guess, I am not sure..git works in mysterious ways 😄

[2020-08-04 16:06] gotec commented on #134
Yes, I have found that out the hard way trying to account for way to many special corner cases over the past year.

Anyhow, thanks a lot for sharing all of this. Based on what I learned I will ensure to "properly" clone repositories in the future and likely stop using the "in_main_branch" indicator as that yields different results based on the branch that is currently checked out. I still don't fi

[2020-08-05 18:16] ishepard commented on #134
No worries! Glad I helped! 😄

[2020-08-05 18:16] #134 closed

[2020-08-09 18:26] aooXu opened #135 "Mistakenly identify the "for" loop in Java "Commons-lang" as a method."
# Describe the bug
Hi, I find that the PyDriller mistakenly handles the for loop in the repository "Common-Langs" on GitHub as a method.
Because, I downloaded the repository and ran the mining program locally, I think the copy of my codes is not enough to reproduce the bugs.
I only list all parameter and information below and if you need the code I use for mining please tell me.

# To Reproduce
*

[2020-08-09 20:34] aooXu commented on #135
it also identify certain "if" statements in the Common-Langs as method.
One example is the if statement in commit "[155943d345e646cbabb301bf5ee2c890db7da795](https://github.com/apache/commons-lang/commit/155943d345e646cbabb301bf5ee2c890db7da795)",

![image](https://user-images.githubusercontent.com/35974430/89741305-fe4b2880-da87-11ea-8c58-50b142461f5f.png)

[2020-08-10 07:24] ishepard commented on #135
Hi @aooXu!
Thank you for opening the issue.
We use Lizard (https://github.com/terryyin/lizard) to calculate code metrics.
Could you please open the issue there and link it to this one? They will be able to solve it.

Thank you!

[2020-08-10 14:56] aooXu commented on #135
Oh, I see. Thank you a lot for the reply and I will report this issues to the them.

[2020-08-16 08:41] #135 closed

[2020-09-11 03:49] farrerm opened #136 "Can't retrieve source code when commit change is only with respect to Path"
Hello, I'm using PyDriller to mine data about Java projects.  I seem to have found some behavior that I haven't seen discussed anywhere.

If there is a commit for which the only change is moving a source code file to a new directory, PyDriller returns this as a "change in commit.modifications".  However, when I ask PyDriller for the change.source_code for that file, it returns None.  Similarly, ch

[2020-09-11 11:01] lambdaofgod opened #137 "GitRepository has no files for remote repos"
The example you've provided in documentation
[code]
Doesn't work, it seems like it tries to search in local path

`list(repo.get_list_commits())`

[code]

[2020-09-12 17:49] farrerm opened #138 "Sometimes Repo has no 'master' branch"
I'm using PyDriller to study a collection of repos.  I only want to consider the 'master' branch of each one.  The thing is, some repos don't have a 'master' branch.  They may call it 'release' or something like that.  For example, the repo that caused this issue for me was google/exoplayer.

It does seem that the 'main' branch on github has a label 'default'.  Could I ask for the 'default' branch

[2020-09-14 17:54] farrerm commented on #138
ahmm, yes in_main_branch does the trick!

[2020-09-14 17:54] #138 closed

[2020-09-28 10:05] ishepard commented on #137
Hi @lambdaofgod!
Sorry for the late reply, I was in vacation 😄
Anyway, where did you find this example in my documentation? Because the example is wrong, so I definitely need to change it 😃

If you want to traverse remote repositories, you need to run a RepositoryMining (see [this](https://pydriller.readthedocs.io/en/latest/repositorymining.html#selecting-projects-to-analyze) for all the options):

[2020-09-28 10:09] ishepard commented on #136
Hi @farrerm!
Sorry for the late reply, I was in vacation in the past weeks 😄
Anyway, I haven't seen this behaviour personally, I need to better investigate. Can you provide me with a commit with this kind of behaviour? Thanks!

[2020-09-28 10:54] #133 closed

[2020-09-28 13:31] farrerm commented on #136
Hi, I ended up deciding that this behavior is not super important.  I ended up searching without requiring a match for path.  We loose a small amount of data which seems acceptable.  Anyway, I first observed this by traversing over about 50 repos.  But, the easiest way to observe it is to make a simple test repo.

What I did to confirm this was make a simple repo containing a java file.  That is c

[2020-10-02 11:23] ishepard commented on #137
I will close this issue, feel free to re-open it if you have other questions! Thanks 😃

[2020-10-02 11:23] #137 closed

[2020-10-02 11:28] ishepard commented on #136
Oooh of course I know Anand! Good luck working with him 😨 no I'm joking, he's a great guy 😃

I wrote a small test and indeed it seems that for renamed files Git doesn't store source codes..which kind of makes sense, since the source code isn't changed.
I am expecting though that if the file is renamed and changed, then Git stores the source code.
So yes, this is the normal behaviour of Git and Pyd

[2020-10-02 11:30] #136 closed

[2020-10-25 00:17] danielnsilva opened #142 "Analyze commits included in not merged PRs"
I am trying to use pydriller to analyze PRs commits. However, commits included in non-merged PRs can't be found in the local repo but still exists on GitHub. I wonder whether would be possible to recreate these commits in the local clone based on GitHub data, but I haven't made any progress. Any hint on how to analyze these commits?

[2020-10-29 14:52] ishepard commented on #142
Hi @danielnsilva!
So, commits that are not merged can not be reached from the HEAD. That is, if we run `git log` from the HEAD, hence traverse back the history starting from the latest commit, we will not be able to reach those commits since they are not in the current branch.
However, if we change current branch, than we will be able to do it.
Meaning:
[code]
if we run `git log` here, we will get

[2020-10-30 07:05] danielnsilva commented on #142
Yes, it clarifies! Thank you @ishepard. I will try `include_refs=True` in RepositoryMining with some selected commits and see what happens.

[2020-10-30 08:55] ishepard commented on #142
Awesome! Glad I helped!
I will then close this issue.
Feel free to open a new one if you will have other questions!

[2020-10-30 08:55] #142 closed

[2020-11-06 21:14] ojcchar opened #144 "UnicodeDecodeError when obtaining commit modifications"
**Describe the bug**
I get the following error when trying to obtain the modified files of a commit:

File "2_commit_processing.py", line 50, in process_commit
    "files": list(map(get_file, commit.modifications))
  File "/home/oscarch/.local/lib/python3.8/site-packages/pydriller/domain/commit.py", line 567, in modifications
    self._modifications = self._get_modifications()
  File "/home/oscarc

[2020-11-09 09:06] ishepard commented on #144
Hi @ojcchar!
Thanks for catching this and making it easy to repro.
I was indeed able to repro the error, and I found out how to fix it by changing [this line](https://github.com/gitpython-developers/GitPython/blob/master/git/diff.py#L278). I will open a PR on GitPython with the fix soon.

Thanks!

[2020-11-10 15:14] ishepard commented on #144
I fixed the error in GitPython, so it should be fixed here as well when they release the new version.
Thanks!

[2020-11-10 15:14] #144 closed

[2020-11-10 16:25] sposs opened #145 "include_remotes option and commit.branches"
**Describe the bug**
The include_remotes does not add the '-r' option to the git branch --contains commit as it should.

**To Reproduce**
[code]
If the commit is not local, the branches is empty.
To fix it, I have added the "-r" option to the `_get_branches` method, and it seems to behave properly. I do not know if that's the right solution though. If it is, I can attempt to provide a pull request

[2020-11-11 07:32] ishepard commented on #145
Hi @sposs!
Thanks for catching this. Indeed you are right, in this case it doesn't work.
We should add "-a" if "include_refs" is set to True, and "-r" if "include_remotes" is set to True.

You can see whether these flags are set to True using `self._conf.get('include_remotes')`.
Feel free to drop the PR whenever you want 😄

[2020-11-11 08:36] #145 closed

[2020-11-15 17:37] arghavanmo opened #147 "project_path and project_name in commit objects doesn't work"
Hi,
There are two objects for the commit: **project_path** and **project_name**. When we call "project_path" receive an error that object does not exist. The second object "project_name" returns a 'list' however it supposed to return a 'string'.

for commit in RepositoryMining('path/to/the/repo').traverse_commits():
    print( commit.**project_path** )

**AttributeError**: 'Commit' object has no a

[2020-11-15 17:51] ishepard commented on #147
Hi @arghavanmo!

That's strange..Can you give me the entire code?
If I try this in a repository:
[code]
it works.

[2020-11-15 18:17] arghavanmo commented on #147
Sure, Here is the whole code:

tf_dt1 = datetime(2018,1, 1)
tf_dt2 = datetime(2020, 10, 30)

tf_source = pd.DataFrame(columns=['commit_ID', 'Author', 'Authored_Date','email','msg','Commiter','committer_date',
                                  'project_path','Commit_before', 'Commit_after','diff','Added_LOC','Removed_LOC',
                                 'Num_LOC','token_counts'])

path = ["https:

[2020-11-15 18:30] ishepard commented on #147
On my machine this works:
[code]
It prints:
[code]

Can you try the following code on your machine please?
[code]

[2020-11-15 18:32] ishepard commented on #147
FYI, `project_path` is probably not useful to keep track of, as it's a path to a temporary directory that will be deleted when the program ends.

[2020-11-15 18:51] arghavanmo commented on #147
Thank you @ishepard. It's strange. I received the below error for 'project_path' when I run the code. However, it prints the 'project name'.

[code]

[code]

Also, when I run my code with 'project_name', I received the below error:
[code]

[2020-11-16 09:22] ishepard commented on #147
Can you check which version of pydriller you are running? And also which version of Python.

[2020-11-17 21:15] arghavanmo commented on #147
Sure:
python: 3.7.4
pydrillr: 1.10.1

[2020-11-17 22:43] ishepard commented on #147
Can you update pydriller to the latest version? 1.15.3.
Let's see if it works

[2020-11-21 20:48] shehan opened #148 "How to obtain source code of a renamed file?"
I read in the [documentation](https://pydriller.readthedocs.io/en/latest/modifications.html?highlight=source_code#modifications) that the `source_code` attribute of the `Modifications` property is none if the file is renamed. Is there a workaround to obtain the source code for a renamed file?

Thanks!

[2020-11-23 09:39] ishepard commented on #148
Hi @shehan!
Maybe in the documentation is not well explained, my bad.
If the author of the commit doesn't change the content of the file (for example, he changes the file extension, or file permissions, or he renames the file), git doesn't carry source code or diff information, as they are not changed.
This is a limitation of git.

However, if the file content **is** changed, diff and source code

[2020-11-26 21:58] arghavanmo commented on #147
I updated. But still, I receive the error. I found that if I put the name of the repository as a "string" in **RepositoryMining**, it works fine:
`for commit in pyd.RepositoryMining(path_to_repo="https://github.com/NifTK/NiftyNet.git").traverse_commits():`

But when I path a list of repositories, then I receive the error:
`path = ["https://github.com/NifTK/NiftyNet.git"]
for commit in pyd.Reposito

[2020-11-27 09:28] ishepard commented on #147
Unfortunately I can not reproduce the error on my laptop. If I run this code:
[code]
it works.

Can you try to debug the error on your laptop and maybe fix it? You can open a PR if you find where the error is 😃

[2020-12-04 08:33] #148 closed

[2020-12-05 15:36] shehan opened #149 "Cannot traverse a specific commit"
I am mining a few repositories in GitHub using pydriller and encountered an issue where a specific commit I am trying to traverse does not exist in the cloned repository (default branch) but shows up on GitHub.

This is the repository: https://github.com/dropwizard/metrics.git
These are a few commits that have the issue:
https://github.com/dropwizard/metrics/commit/64bc69ef4c547771f44f6b6b103cda7b

[2020-12-05 19:20] simisimon commented on #149
I think this problem is not caused in the pydriller but rather in the gitpython implementation, because I faced the same error. However, I used another framework that uses gitpython to check out commits from repositories and I think that pydriller also relies on git python to mine repositories.  I looked into the open issues of gitpython to see whether this problem is known, and I was right. There

[2020-12-07 09:28] ishepard commented on #149
Hi @simisimon !
The commit you are looking at is not on the repo, it probably means that it belongs to a fork of the repository.
One easy way to check is to clone the repository, and then try to get the commit.
[code]
Hence, the problem is not of Pydriller nor of GitPython, it's just that the commit you are trying to analyze doesn't exist 😄

[2020-12-07 11:08] simisimon commented on #149
Ah, this makes sense. However, it seems to me that many repositories are affected by this problem when the commit history is analyzed with gitpython or pydriller. Have you experienced something similar? So, for my case, I'll implement a workaround to catch these cases. Thanks for your response.

[2020-12-07 12:25] ishepard commented on #149
TBH I never came across such a case. Generally, the users do something like:
[code]
Hence, only commits that are reachable from HEAD are actually traversed.

[2020-12-08 02:27] shehan commented on #149
Thanks for the detailed replies, @ishepard ! I had a feeling that this was not an issue with Pydriller, but just wanted to make sure that there was no workaround. As of now, I'm accessing details about these types of commits using the GitHub API.

Is there any way I can use Pydriller's _Process Metrics_ and _Maintainability_ API to analyze these types of commits?

[2020-12-08 09:02] ishepard commented on #149
Hi Shenan! No there is no way to access those commits using Pydriller, as I use Git internally and Git is not able to do it, unfortunately.

GitHub API/Pydriller is a combination that many users choose, though while Pydriller results are "polished", GitHub results are for you to polish. So all those commits that do not really exist need to be deleted, or skipped.

[2020-12-15 11:06] ishepard commented on #149
I'm closing this issue as it is not directly related to pydriller. Feel free to re-open it.

[2020-12-15 11:06] #149 closed

[2020-12-15 11:07] ishepard commented on #147
I am closing this issue, feel free to re-open it if the problem persists!

[2020-12-15 11:07] #147 closed

[2020-12-15 11:08] ishepard commented on #102
I am closing this issue as the problem didn't receive much attention.

[2020-12-15 11:08] #102 closed

[2020-12-15 11:08] ishepard commented on #69
Closing this issue. If someone wants to work on it feel free to re-open it.

[2020-12-15 11:08] #69 closed

[2020-12-29 12:56] butterl opened #150 "Add shortstats data to the commit object"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Could the call of below code get change data like `git log --shortstat`

[code]
**Additional context**

[2020-12-30 11:04] ishepard commented on #150
Hi @butterl!
If I got the question right, you would like to see the output of "--shortstat" while traversing the commits.
Shortstats returns the total number of modified files, as well as number of added and deleted lines.
You can calculate these metrics manually if you want, but indeed this could be a nice addition to the commits object.
We could add `commit.modified_files`, `commit.added_lines`,

[2020-12-30 11:06] #16 closed

[2020-12-30 11:06] #11 closed

[2021-01-04 03:16] butterl commented on #150
#151  add reference with issue and pr changes

[2021-01-04 13:12] butterl commented on #150
PR is merged， thanks for the helping！

[2021-01-04 13:12] #150 closed

[2021-01-18 07:53] maldil commented on #125
@ishepard I experience the same.
```for commit in RepositoryMining(project_path, only_modifications_with_file_types=['.py']).traverse_commits():```

and

```for commit in RepositoryMining(project_path, only_modifications_with_file_types=['.py'],order='revers').traverse_commits():```

Both codes start the iteration with the same commit. It starts with the oldest commit. No difference. How can we tr

[2021-01-18 10:45] ishepard commented on #125
Hi @maldil!
I can not reproduce the same problem you are having. I think you wrote `revers` instead of `reversE`. You are missing the final `e`.

This code:
[code]
and this code
[code]
produce two different results on my test.
Can you check again?

[2021-01-18 10:46] ishepard commented on #125
For future cases, I think pydriller should return an error saying `revers` doesn't exist.

[2021-01-18 19:41] maldil commented on #125
Oops! it works now. nice catch and thanks. Yes, an error for any invalid argument would be a nice idea.

[2021-02-15 09:57] Shixo opened #153 "Getting commits under a specific tag"
Hi,
I am interested to get commits from a specific version of the repository. For example, if the repo represents an artifact with different versions, each version has its own tag in the repo tags, then I want to get all commits related to version (i.e., tag) 3.4.0.

Is there a way to do this from the current APIs in Pydriller?

[2021-02-15 10:06] #153 closed

[2021-02-15 10:07] Shixo commented on #153
Found the feature to filter between two tags can serve the purpose.

[2021-03-10 02:26] mohmehmo opened #154 "Handling the error in RepositoryMining when the repository is empty"
Hello,
Firstly, thanks a lot for your great tool. I would like to ask you to add a feature to handle the error while reviewing the commits of a repository using _RepositoryMining_, when the repository is empty. For instance, when I use the following code, an error is raised which results in an empty repository.
[code]

[2021-03-10 09:41] ishepard commented on #154
Hi @mohmehmo!
Yeah you are right, if the repository is empty we should probably just return immediately, without raising the error.
Would you be available to look into it and create a PR? 😃

Thank you!

[2021-03-10 18:49] david-siqi-liu opened #155 "`get_commits_last_modified_lines` gives incorrect results"
I am comparing the results between the latest release and version 1.8, and I believe the results from the latest release are incorrect.

Consider the following commit on Openstack/Glance: https://github.com/openstack/glance/commit/4f124bdcd329b0cd99053731467ed4952b9915ce

Under the newest version:
[code]

Under v1.8:
[code]

We can see that the newest version gives way more commits. However, if yo

[2021-03-11 14:22] mohmehmo commented on #154
Hi @ishepard
Yes, I will try to work on it on weekend.

[2021-03-11 15:13] ishepard commented on #155
Hi @david-siqi-liu!
Thanks for catching this. Would you be able to investigate where the problem is and open a PR?

Thank you!

[2021-03-11 15:16] david-siqi-liu commented on #155
Sure I will take a look. Great work by the way, love the package!

[2021-03-23 14:57] mdestefano opened #158 "Multithreading"
I used to exploit [Repodriller](https://github.com/mauricioaniche/repodriller), but since it is no longer maintained and pydriller presents a lot of useful functionalities for researchers (eg. list of modified methods), I switched to it.
However, currently, repository mining can happen only in sequential, and running external tools on a checkout takes an impossible time. It would be nice to have a

[2021-03-26 14:40] JulianVolodia commented on #158
I think we should co-work on this and https://github.com/ishepard/pydriller/issues/102 because ofc features are important but this module seamlessly use memory harsher than Java does ;P and even not limit itself if that could cause problems (just fall from bike and is happy C: )

[2021-03-26 18:34] ishepard commented on #158
Hi! Sorry for the late reply, I've been busy at work.
Multithreading is something that we had in mind for a while, but implementing right is quite challenging, for multiple reasons:
- python is not a language that likes it very much
- git doesn't allow it
- bad things can happen when you multithreading

For example, how can we ensure that users don't use `git checkout` when having multiple threads

[2021-03-26 18:43] marco-c commented on #158
I've been using pydriller in multiple threads for a while, and it's worked well enough for my purposes (I can't be sure it will work for all use cases).
There is some discussion in #110, in particular see the example in https://github.com/ishepard/pydriller/issues/110#issuecomment-605092557.

@ishepard it *shouldn't* be a problem for git because pydriller is not using libgit directly but running t

[2021-03-26 19:14] ishepard commented on #158
@marco-c how did you multithreaded pydriller? In terms of commits (like if we have 100 commits to analyze, we split them in 5 threads), or in terms of repos (we have to analize 2 repos, so we use 2 threads)?

[2021-03-26 19:34] marco-c commented on #158
In terms of commits, similarly to https://github.com/ishepard/pydriller/issues/110#issuecomment-605092557

[2021-03-27 17:54] ishepard commented on #158
I see.
So from what I see, when we use threading in RepositoryMining we need to lock the creation of GitRepository, while everything else should pretty much work as is.

I can try to have a look at it this week if I have time.

I was also considering to write the entire Pydriller using async/await, maybe it will improve something.

[2021-03-27 21:22] JulianVolodia commented on #158
maybe refactor would be good option, but maybe we should try mitigate problems first?

May I help You in any way? Maybe we could do some option to use queue(s) (the best 2, for heavy and light tasks) ?

I use pydriller right away from django and probably would introduce celery queues to my project anyway. Chopping the responsibilities and trying to use lighter thing (should libgit be lighter? I ha

[2021-03-28 18:07] marco-c commented on #158
I think using async/await would have basically the same effects of multithreading in this case, given the way multithreading works in Python (the actual parallelism only occurs when a thread is not executing Python code but waiting on I/O).
With async, whenever you run `git`, you will await and let another async task run.
With threads, whenever you run `git`, you will "pause" the thread and let an

[2021-03-29 09:46] mdestefano commented on #158
Hi all! Thanks for your replies.
I looked into Repodriller and I found out that when using multithreading and visitors do change the status of the repository, it creates multiple copies of the repositories (don't know if they're multiple git clone operations or just copies), and it gives a copy for each thread. In this case, there are no race conditions. Would it be possible to implement a similar

[2021-03-30 16:37] ishepard commented on #158
@mdestefano it might be useful in case we would like to allow users to perform git checkout when multithreading. Otherwise I'd say it's irrelevant, git operations will be performed in isolation. Let's keep it in mind though!

[2021-04-02 16:16] ishepard opened #159 "Pydriller 2.0 - Ideas"
This is thread to discuss what could be included in the next version of Pydriller. Feel free to drop here your ideas, and we will discuss it together.
There is already a branch (pydriller2) where you can work on and create PR if you feel like contribute to the project!

- [x] Multithreading (#158 )
- [x] Renaming main classes:
       - RepositoryMining -> Repository
       - GitRepository -> Git
-

[2021-04-03 11:07] ishepard commented on #158
First analysis with multithreading:
From 11.04 minutes to 1.46 😨

[2021-04-03 16:35] xtuchyna commented on #159
Hello! I've recently started to dig into the wilderness of SRM and found this lib, which looks really cool!
Seems that currently you only support `Commit` aggregation - do you also consider expanding it to other entities like Issues, PullRequests, Comments, Contributors, and etc.?

[2021-04-04 10:18] ishepard commented on #159
Hi @xtuchyna! Happy mining! 😄
Issues, PR, Comments, etc. are not Git concepts. They are GitHub concepts. The git repository doesn't have any information about them. Since Pydriller is a git framework, we will not expand it to those entities.
However, if you need to look into them, I'd suggest you to look at my colleague's project GHTorrent.
Hope it helps!

[2021-04-06 10:58] mdestefano commented on #158
Wow! Such an improvement!  👏🏼 👏🏼 👏🏼
So, are you going to implement it in production?

[2021-04-06 16:18] larissabrazb opened #162 "OSError: [Errno 24] Too many open files"
Found the following error when recursivelly using Pydriller:

**OS Version:** MacOS 10.15.7
**Python:** 3.9

[2021-04-06 16:23] ishepard commented on #162
Hi @larissabrazb!

This doesn't seem to be related to Pydriller. Can you post a small snippet on how to reproduce the error? I'll double check if something is wrong 😄
Thanks!

[2021-04-06 16:24] ishepard commented on #158
I'll do it soon. This is gonna be part of a bigger update for Pydriller 2.0.
I'm currently waiting for inspirations/ideas on what could be included. See #159.
If I can't think of any other refactoring, I will publish it soon.

[2021-04-07 11:08] ishepard commented on #114
Closing this issue, everyone feel free to re-open it if you feel like working on it.

[2021-04-07 11:08] #114 closed

[2021-04-07 11:08] ishepard commented on #41
Closing this issue, everyone feel free to re-open it if you feel like working on it.

[2021-04-07 11:08] #41 closed

[2021-04-07 16:06] JulianVolodia commented on #159
Hey @ishepard could I do sth for You? I.e. write some test cases or other work? :)

[2021-04-08 11:04] ishepard commented on #159
Hi @JulianVolodia! Thanks for the help!
Feel free to pick up any issue currently opened, for example #154 should be pretty easy to solve.
Feel free to write any test you want as well 😃

[2021-04-08 11:04] ishepard commented on #158
Closing this issue since I solved it in branch pydriller2.0! Thanks everyone!

[2021-04-08 11:04] #158 closed

[2021-04-08 12:46] mauricioaniche commented on #159
I can't remember why I called it _Modification_. Maybe this was the term used in JGit? Too long ago, can't remember. But I agree it's not the best name ever.

[2021-04-11 20:25] xtuchyna commented on #159
Hello, I'm here again :wave:
I've recently stumbled upon an article describing the [bugspots idea](http://google-engtools.blogspot.com/2011/12/bug-prediction-at-google.html) (counting number of bugfixing commits - based on log message - to each file). I wonder if that could be part of the Process Metrics.

[2021-04-13 14:38] jsutil37 opened #164 "Please provide information on whether this can be used to generate code metrics and code change metrics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Example: I often have the problem of [...]
Please provide information on whether this can be used to generate code metrics and code change metrics,
The readme.md file is silent on this.

**Describe the solution you'd like**
A clear and concise description of what you want to h

[2021-04-13 21:40] HelgeCPH commented on #159
Hej, thank you for the really nice and super useful Python library!
Concerning possible 2.0 features, I was thinking that it could be practical for certain analysis if the `Commit` and `Modification` classes were hashable. Currently, one cannot use them as keys in dictionaries (`TypeError: unhashable type: 'Modification'`).
Additionally, sometimes it would be practical if one could navigate back f

[2021-04-14 07:43] ishepard commented on #159
HI @HelgeCPH!
Interesting ideas! Thank you!
I think an Hashable Commit and Modification object would be a very good addition. People would be able to put them in dicts and sets and other hashable structs.
As for the Modification object having a link to the commit: it's a very simple addition, though I am wondering whether it would be enough to have the hash of the commit (instead of the Commit obj

[2021-04-21 18:03] luwoldy commented on #159
Right now only an author/committer's full name and email is available in the Developer object. Is it possible to expand this to include their github username? That way I can use something like Selenium to go to github.com/<username> to extract additional data like follower count, commits, etc.

Happy to attempt this PR with guidance

[2021-04-21 18:03] luwoldy commented on #159
@ishepard

[2021-04-21 20:26] HelgeCPH commented on #159
Hi @ishepard, I sent a pull request with the hashable `Commit` and `Modification` classes.
Since I did not know how you organize tests, I put two unittests in a new file. Likely they should be somewhere else but I could not figure out where they would fit best.

Concerning the circular dependency: yes I see the problem but I was thinking if it is really a problem. Would not Python's garbage collec

[2021-04-22 08:02] marco-c commented on #159
Circular dependencies can be problematic with Pickle, from https://docs.python.org/3/library/pickle.html#what-can-be-pickled-and-unpickled:

I recently hit this in another project where (to simplify) we had Commits and Tests. Initially there was only a link between Commit and Tests associated to it. Once we added a link from Test back to Commit we started hitting the RecusionError when pickling ma

[2021-04-22 08:18] ishepard commented on #159
Agree with Marco, circular dependencies aren't fun. We should avoid them.
In terms of just putting the hash, I think it should be ok right? It's not much more code, since one can just say `git.get_commit(hash)` and that's it.

[2021-04-22 09:59] marco-c commented on #114
I'd love to do this, I wish I had time :(
@Luni-4 would you be interested?

[2021-04-22 10:09] Luni-4 commented on #114
It would be a good addition for `rust-code-analysis` but I don't have time to do that.

Perhaps someone could use `PyO3` to wrap the `Rust` APIs in Python

[2021-05-03 14:41] david-siqi-liu commented on #155
After much testing, I believe that this change of "ignoring whitespaces when blaming" is causing the differences:
https://github.com/ishepard/pydriller/commit/48f482d1d881782b61ea2653d053decfe1049dbe

For the particular commit I mentioned in my post, I can confirm that the "ignoring whitespace changes" change is working as intended. As such, I will close this issue.

[2021-05-03 14:41] #155 closed

[2021-05-03 14:50] david-siqi-liu commented on #159
Hi everyone! Just a quick idea - in the past, I have also computed `entropy` based on this [paper](https://sail.cs.queensu.ca/Downloads/ICSE2009_PredictingFaultsUsingTheComplexityOfCodeChanges.pdf). It is a measure of dispersion in lines changed across all modified files. How would you feel about adding this?

[2021-05-07 14:42] stefanodallapalma commented on #159
Hi @david-siqi-liu,

Pydriller already implements that metric. You can find it at [pydriller.metrics.process.history_complexity](https://github.com/ishepard/pydriller/blob/master/pydriller/metrics/process/history_complexity.py).
Because you have also computed it in the past, it would be great if you could further test it.

[2021-05-07 14:50] S3j5b0 opened #168 "Efficient accessing of commit modifications for specific file"
Hi, I was a bit unsure if I should label this issue as a feature request, but here it is anyway.
I'm doing a project where I need to traverse through all python files in a project and calculate churn for each file. I found this formula for calculating the churn.
[Lines Added] + [Lines Deleted] + [Lines Modified].
And now I made this snippet for getting these churn metrics for a specific file in a

[2021-05-07 15:05] ishepard commented on #168
Hi @S3j5b0!

In Git there is no modified line, there is only added or deleted. So there is now way to get this, unless you create your own euristic. Also, Churn is usually calculated as Added + Deleted lines.

What I would if I were you is to build up a dictionary of files, keeping it updated when a file is added:

[code]
At the end you are gonna have a dictionary with files as keys, and values th

[2021-05-07 15:18] ishepard commented on #168
Yeah I don't know how the other program works, but since you have a dictionary with all the files it should work right? 😄  I mean, you could run this once at the beginning of your program, and then
[code]

[2021-05-07 16:09] S3j5b0 commented on #168
yes, it works super well, it was just that I was hoping that I could include the collection of churn metrics in my already existing loop.

But this also works super! thx a lot

[2021-05-07 16:09] #168 closed

[2021-05-08 11:39] S3j5b0 opened #169 "Newly created files have really high churn"
Hi, this might not really be a feature request, as me asking for some tips.

So i'm trying to calculate churn for all files in a repo, and I found the wonder full codechurn metri. Really nice!!.

I then made this little script to calculate churn for all files (in a arbitrarily long period of time) and print all files in the repo sorted by highest churn first:

[code]

This is super nice, but there

[2021-05-10 09:00] ishepard commented on #169
Hi @S3j5b0!
You're right, when the file is added all those lines are considered as churn.
TBH, I don't know whether that's correct or not.
Can you find an article/paper/journal saying that it shouldn't be like this? If yes, then I would say you can modify Pydriller directly and change how CodeChurn is calculated 😃

[2021-05-10 09:02] ishepard commented on #154
@mohmehmo any news on this? Just checking if this can be included in the Pydriller 2.0 release 😄

[2021-05-10 09:10] ishepard commented on #159
Sorry I missed some comments on this thread! I'll reply here:
@xtuchyna I often thought about bug prediction in Pydriller, but I refrained from the idea mainly because it's not something directly related to Git. Pydriller is a Git framework, and it can be used to build bug prediction tools. But I wouldn't transform Pydriller in a bug prediction tool directly.

@luwoldy GitHub username and Git user

[2021-05-10 09:45] stefanodallapalma commented on #159
@xtuchyna I agree with @ishepard. However, me myself have been implementing a tool (https://github.com/radon-h2020/radon-repository-miner), based on PyDriller, to mine software repositories to identify failure data and ease the creation of datasets that can be used to build machine learning models for bug prediction. If you'd like to know more feel free to get in touch.

[2021-05-10 11:18] stefanodallapalma commented on #169
Hi all,

I have implemented the CodeChurn metric based on the definition in this [paper](https://dl.acm.org/doi/pdf/10.1145/1368088.1368114?casa_token=xMbRQpXPKSMAAAAA:Rh7O20PFiC-eYG74acUuS8jhzLnxaEt5hsL_52iFrs3QO8IHdVSLO4RrfBq4PMfGRhRd2w6nW2ionA) (pg 185).
I do not think that it is correct to exclude files that have been added and never changed.

@S3j5b0, if you know the names of these files, you

[2021-05-10 13:36] ishepard commented on #169
@stefanodallapalma I think we can add a new flag to CodeChurn to exclude the added file, it shouldn't be too difficult, right?

[2021-05-10 13:50] stefanodallapalma commented on #169
@ishepard I thought about two solutions:

1. We keep track of the number of times a file has been modified by means of an additional dictionary, or
2. We calculate the _CommitCount_ metric on the same period `(from_commit, to_commit)`. If `CommitCount.count()` is 1, then the file hasn't been modified since its creation. The drawback is that it traverses the commits twice. I wonder whether this is

[2021-05-10 13:56] ishepard commented on #169
I was thinking more to a simpler solution, [here](https://github.com/ishepard/pydriller/blob/master/pydriller/metrics/process/code_churn.py#L41) we just add a check if the file is added, in which case we just skip it.

[2021-05-10 14:18] stefanodallapalma commented on #169
Oh yeah, I forgot it analyses commits in reverse order. That's possible. I will take a look in the coming days.

[2021-05-11 10:51] ishepard commented on #159
I'm gonna release Pydriller 2.0 soon, thanks everyone for the help! I'll make a post on Twitter with the changes!

[2021-05-11 10:51] #159 closed

[2021-05-11 12:34] #164 closed

[2021-05-12 17:59] S3j5b0 commented on #169
This is really cool that you guys were able to respond and make a change this fast.

[2021-05-14 18:26] raamojirao opened #174 "How do we know if a commit is cherry picked?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Example: I often have the problem of [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other information or screenshots about the feature request here.

[2021-05-16 10:56] ishepard commented on #174
Hi @raamojirao!
I had a look at https://stackoverflow.com/questions/2922652/git-is-there-a-way-to-figure-out-where-a-commit-was-cherry-picked-from.
It seems that you need to use a different command, `git cherry`, to get these commits.
Otherwise, if the `-x` option was used when cherry-picking, then it's recorded in the commit message. In this case you can check when traversing the commits.
For the

[2021-05-16 10:56] #174 closed

[2021-05-16 13:03] gurubhandari commented on #118
Have you calculated the fan_in and fan_out of the methods correctly? I am getting fan_in and fan_out all zeros for all the methods.

[2021-05-16 13:26] glato opened #175 "Choose calculation variant to calculate the code churn metric"
Hi @ishepard,

I've just discovered your tool, thanks for the great work.

I sometimes see/read in literature (and in some implemented solutions) the following code churn metric/variant when it is related to lines of code:

[code]

As far as I can see (reproduce), currently pydriller seems to calculate code churn in `code_churn.py` / `CodeChurn` class in the `_initialize` method in the following w

[2021-05-17 08:58] ishepard commented on #175
Hi @glato!
TBH, I also do remember code churn to be the sum of added and deleted lines. Let me double check with the author of that code @stefanodallapalma.
Also, in CC @mauricioaniche @marco-c, they have done more studies using similar metrics.

[2021-05-17 09:01] ishepard commented on #175
@glato
BTW, I like the idea of having that flag added. Feel free to make the change!
Now the question is what should be the default behaviour 😄

[2021-05-17 11:46] stefanodallapalma commented on #175
Hi all,

I based the implementation on the definition that can be found in this [paper](https://dl.acm.org/doi/pdf/10.1145/1368088.1368114?casa_token=xMbRQpXPKSMAAAAA:Rh7O20PFiC-eYG74acUuS8jhzLnxaEt5hsL_52iFrs3QO8IHdVSLO4RrfBq4PMfGRhRd2w6nW2ionA) (Table 4), that is, _"sum of (added lines of code – deleted
lines of code) over all revisions"_. To be honest, I do not have much experience with that me

[2021-05-17 19:01] glato commented on #175
Hi all,

I've created the PR #176 with the proposed implementation of the variant.

[2021-05-19 16:59] #175 closed

[2021-05-22 19:06] armandossrecife opened #177 "ModuleNotFoundError: No module named 'pydriller.metrics'"
**Description**
I'm trying to use the module metrics from pydriller but when I try to import the module via
from pydriller.metrics.process.code_churn import CodeChurn
I found the following error message: ModuleNotFoundError: No module named 'pydriller.metrics'

**To Reproduce**
Steps to reproduce the bug. For example, a specific commit in a repository, and/or a modification.
Import module via
from

[2021-05-23 14:27] armandossrecife commented on #177
I think that this problem is related to changing version of Pydriller. I my case I was using version 1.15, and I observed some modifications in new version 2.0.
I removed old version of Pydriller via pip uninstall pydriller, after that I install new version of Pydriller via pip install pydriller, finally this problem is resolved.

[2021-05-23 14:45] armandossrecife commented on #177
I suggest that the Pydriller documentation available on [https://pydriller.readthedocs.io/en/latest/commit.html](https://pydriller.readthedocs.io/en/latest/commit.html) should be updated to reflect the modifications of new version of Pydriller.

[2021-05-24 12:22] ishepard commented on #177
Hi @armandossrecife! Happy that the issue was resolved! Cheers

[2021-05-24 12:22] #177 closed

[2021-05-24 12:22] #154 closed

[2021-05-27 09:58] albuswhite opened #178 "New feature to clarify ModifiedFile line change type"
Can pydriller support clarify ModifiedFile line change type ? Although we know how many lines have been changed, we may want to know the type of the lines. Maybe blank line, source code or comment line

[2021-05-27 10:51] ishepard commented on #178
Hi @albuswhite! Thanks for the question!

This feature wouldn't be really related to Git (it would be actually language dependant) so it will be hard to maintain.
I think the best way for you to check this would be to manually do it in your code.

[2021-06-01 10:17] #178 closed

[2021-06-01 12:18] stefanodallapalma opened #181 "GitCommandError when traversing commits on an non-default branch"
**Describe the bug**
Traversing commits using the parameter `only_in_branch` with a value different from the default branch generates the following error:

[code]

**To Reproduce:**

[code]

**Output:**
[code]

**Version:**
 PyDriller2.0 on Ubuntu 20.10

[2021-06-01 12:37] ishepard commented on #181
Hi @stefanodallapalma!

It looks to me that git is returning an error,
[code]
This means that the branch doesn't exist. Can you run the command locally? `git rev-list --reverse pydriller-pygit2 --`

[2021-06-01 12:39] ishepard commented on #181
My 2 cents on this is that you need to put `origin/` before the branch name, since it's remote.

[2021-06-01 12:46] stefanodallapalma commented on #181
Hi @ishepard,
indeed, it works with origin/, thank you. I don't know if this is something that you would handle in pydriller. Anyway, I think it's worth to add that info in the parameter description for the sake of documentation.

[2021-06-01 12:53] ishepard commented on #181
Awesome 😄
Yeah this is not strictly related to pydriller, it's more how git displays branch names. But yeah, maybe we should point it out to use the real git name in the docs.

[2021-06-01 12:53] #181 closed

[2021-06-07 11:52] StephanSchmidt opened #183 "No analysis without temporary clone?"
Is there a way to read the commit history of a remote repository without creating a temporary clone?

Or can this done without source files and a shallow copy?

[2021-06-07 14:17] ishepard commented on #183
Hi @StephanSchmidt! Thanks for the question.
I am not sure what you mean.
You have 2 ways to analyse a Git repo, by manually cloning it before where you want and passing the path to Repository, or let pydriller cloning it in a temporary directory.

[2021-06-07 14:31] StephanSchmidt commented on #183
I would like to read the commit log of a remote history without transffering the source files.

[2021-06-07 14:33] ishepard commented on #183
Ah I see, no then it's not possible, the repository needs to be on local disk.

[2021-06-07 14:34] ishepard commented on #183
If you don't need files, have a look at GHTorrent, it's a GitHub mirror with commits information.

[2021-06-07 14:45] StephanSchmidt commented on #183
Thanks!

[2021-06-07 15:01] #183 closed

[2021-06-09 13:23] JulianVolodia commented on #147
Hi @ishepard I think I know what was the reason.

venv/lib/python3.9/site-packages/pydriller/domain/commit.py

was raised for @arghavanmo but then the \@property not exists if while evaluation of that property raises the error.

https://stackoverflow.com/a/37317736

so it was a list but the Path was not accepting that. Code works until accessing the property (w/o checking if it exists).

so if Pat

[2021-06-09 13:27] JulianVolodia commented on #147
I seen similar outcome but I believe from another reasons:
got AttributeError with 'Commit' object has no attribute 'modifications'

mycode1
[code]
mycode2
[code]

[code]

so... it was https://github.com/ishepard/pydriller/commit/db9621c622ed0997ee914034329870c030420e48 commit change and one can't distinguish easily. Like, with one raised exception shoot in head but with checking repo and code ana

[2021-06-14 16:06] stefanodallapalma opened #184 "Should we handle commits order when num_workers > 1?"
This may not be a bug, considering the nature of multithreading.
However, when traversing commits using a number of workers greater than 1 the commits are in random order (depending on the jobs execution time).
I am wondering whether we should handle this situation when `order != None` [here](https://github.com/ishepard/pydriller/blob/010c1ea5eab4dea9c34b719efc9fb8537c76e94a/pydriller/repository.p

[2021-06-15 13:36] ishepard commented on #184
I don't think we should do anything in this case, this is expected behaviour. I think in the documentation is written that if we use num_workers > 1 the order is not maintained.

[2021-06-15 15:02] stefanodallapalma commented on #184
Yeah, as I imagined. I couldn't find that. I've added a note in the docs in https://github.com/ishepard/pydriller/pull/185.

[2021-06-15 15:02] #184 closed

[2021-09-15 20:07] hosseinkshvrz opened #190 "renamed_files in process metrics does not help identifying renamed files"
It's not clear what the purpose of renamed files is in process metrics classes. The first thing that comes to mind is that it is used to avoid considering renamed files two distinct files but the current implementation is not correct I guess.

Here's the implementation of the core part of the CommitsCount class in the latest version of PyDriller:

[code]
So first thing is that traversing commits i

[2021-09-17 11:00] stefanodallapalma commented on #190
Hi @hosseinkshvrz

Indeed, the purpose of `renamed_files` is to avoid that renamed files are considered as distinct files when analyzing the history **backward**.

Please note that the process above always starts with the oldest commit regardless of the criteria. See the [parent class](https://github.com/ishepard/pydriller/blob/151319fec5ea39e461756dedef848992375055d3/pydriller/metrics/process/pro

[2021-09-21 17:19] hosseinkshvrz commented on #190
Thank you Stefano. You're right. I didn't notice the order in the parent directory is "reverse". That solves the problem.

[2021-09-21 17:19] #190 closed

[2021-11-03 18:38] Rad6 opened #194 "Modified files are not properly retrieved"

[2021-11-05 06:34] #194 closed

[2021-11-08 20:41] NitescuLucian opened #195 "Is modified_files working well?"
**Describe the bug**
I do not understand why in some cases modified_files does not show any file for commits that contains "modified files". Should it not be there or I am getting this wrong?

**To Reproduce**
For any repository, do this:
[code]

Output:
[code]

**OS Version:**
Linux

[2021-11-08 20:45] NitescuLucian commented on #195
Also, it does get the right number of commits? From where it gets the other 2? I do use `only_in_branch=branch`.

[2021-11-10 10:01] stefanodallapalma commented on #195
Hi @NitescuLucian,

please provide the value of the variables `path`, `date` and `branch` to enable reproducibility.

Also, traverse_commits() returns a Generator. You might want to do the following to store the commits objects:

[code]

[2021-11-10 20:27] #195 closed

[2021-11-13 09:34] Lukasdoe opened #196 "only_in_branch Repsitory option only works if branch is already checked out"
**Describe the bug**
When creating a new Repository with the `only_in_branch` option set to something different than the default branch, the commits can't be traversed (`Repository.traverse_commits()` throws an exception). This is the case, because the underlying git wrapper only calls the `git rev-list <desired_branch_here> --`. This however does not work if the default branch (e.g. not "master"

[2021-11-13 09:37] Lukasdoe commented on #196
I'd be happy to implement a fix by myself and create a PR, but I'm currently unsure whether this is more of a problem in `pydriller` or in `GitPython` which doesn't check out the supplied `rev` in the `Repo.iter_commits` command.

[2021-11-14 18:59] ishepard commented on #196
Hi @Lukasdoe ! I am not sure I understood correctly.

This should work, that's exactly the definition of the "only_in_branch" filter. For example, see [this test](https://github.com/ishepard/pydriller/blob/master/tests/integration/test_commit_filters.py#L93). I traverse a branch that is not the default one (not main, it's called 'b1')

Pydriller doesn't have the definition of master/main branch. T

[2021-11-15 16:03] stefanodallapalma commented on #196
Hi @Lukasdoe,

it seems you have a similar problem already addressed [here](https://github.com/ishepard/pydriller/issues/181#issuecomment-852090913).
Let me know if that solves the issue.

[2021-11-19 21:31] Lukasdoe commented on #196
This looks like the same issue, yes. I didn't try the solution yet, but it sounds like this is already solved, thanks!

You might still have to add a short info to the docs :)

[2021-11-19 21:31] #196 closed

[2021-11-24 10:14] thtrummer opened #197 "Detect http:// as remote repository"
Currently only "git@" and "https://" are treated as remote.

[2021-11-25 10:38] ishepard commented on #197
Didn't know there were still repos with `http://`. Are we sure? 😄

Anyway, it's a very simple change in [repository.py](https://github.com/ishepard/pydriller/blob/master/pydriller/repository.py#L147).

Feel free to do a PR and, if you can, also add a test.

[2021-11-26 16:41] mohmehmo opened #198 "get the total number of contributors of the repository"
Firstly, thanks a lot for your great framework.
One of the requirements for analyzing repositories is the number of contributors, I mean the number of persons who collaborate on the repository. But I can not find any command in PyDriller documentation to get total number of contributors.
Is there any possibility to add this feature in the near future?

Thanks.

[2021-11-28 15:44] avandeursen commented on #198
The `author` field of a `Commit` gives the author of that commit. So you can simply traverse over all commits in a `Repository`, and collect the authors in a set.

Some authors may use different email addresses and/or names, so you probably need to do a bit of analysis on the author set to merge likely equivalent authors.

[2021-11-29 01:18] mohmehmo commented on #198
@avandeursen thanks for your comment. I was also thinking about your suggestion. But the problem is because of the significant number of repositories that I am analyzing. I am studying more than 100,00 repositories, and if I want to use this approach, it will take a long time to do this for all repositories one by one. I am looking for something like "total_commits()" method that returns the total

[2021-11-29 09:28] ishepard commented on #198
Hi @mohmehmo! Thanks for reaching out.
Arie's suggestion is the correct solution to your problem. There won't be a command that automatically get the list of authors in Pydriller, mainly because it's just 1 line of code 😄

Mmmm no I don't think so. Pydriller can analyze multiple repos at the time. So just pass:
[code]

This will cycle over all the repo.

Now, how to get the list of authors I will

[2021-12-02 11:04] ishepard commented on #198
Looks like it is solved. Closing the issue then.

Feel free to re-open it if you have more questions, or just ping me 😃

[2021-12-02 11:04] #198 closed

[2022-01-02 15:13] 12f23eddde opened #199 "Add an option to retrieve commits modifying a deleted file"
Hi :) I'm extracting the commit history of a certain configuration file on thousands of public repos hosted on Github. Some projects have this file deleted at some point, making it impossible to do so.

It would be nice to add an argument to the `Repository` class, which inserts `--` to the `git log` call:
[code]

This feature is actually quite easy to implement [reference here](https://feeding.cl

[2022-01-04 18:27] ishepard commented on #199
Hi @12f23eddde!
Yes sure this change makes total sense! Feel free to make a PR.

Instead of `full_log` I would say to call it `include_deleted_files`, just to make it even more clear what's for.

[2022-01-15 09:05] thtrummer commented on #197
Internal networks in companies sometimes still use `http://`. I didn't see a good way to add a test, but feel free to propose one.

[2022-01-22 13:45] 12f23eddde commented on #199
Sorry I've been busy the last few weeks, and #201 is already working on this. Guess this issue can be closed (when #201 finishes the task)?

[2022-01-22 15:56] ishepard commented on #199
Yes I will close the task when the PR is accepted 😃

[2022-01-22 15:56] ishepard commented on #197
Close in #200

[2022-01-22 15:56] #197 closed

[2022-01-25 05:37] josemorenoo opened #202 "commit_url attribute for Commit"
**Is your feature request related to a problem? Please describe.**
As far as I can tell, there isn't a way to get the path of a specific `Commit`, e.g. `github.com/domain/repo_name/commit/hash`. `project_path` appears to be the absolute local path the the temp dir where the repo is cloned.

**Describe the solution you'd like**
a simple attribute like `commit_url` for the `Commit` object would be v

[2022-01-26 16:44] stefanodallapalma commented on #202
Hi @josemorenoo,

I don't think that attribute should be added; for two reasons:

1. PyDriller targets Git repositories. The URL you mentioned is GitHub's, but could link to any other platform that displays the commit's info, e.g., GitLab, or server. Therefore, it is out of PyDriller's scope.
2. You can generate the URL when traversing the commits by accessing the attribute `commit.hash` and the `

[2022-01-28 14:35] ishepard commented on #202
Hi @josemorenoo,
yes I also think this is not a feature for Pydriller. You are probably confusing a Git repository with a GitHub repository.
Pydriller is only able to analyze git repositories, it doesn't have access to GitHub.

Anyway, see Stefano's comment if you want to trace back the URL (not sure why you would have to do it though).

Cheers

[2022-01-28 14:35] #202 closed

[2022-01-31 06:54] tromai opened #203 "Getting the list of files in a repository using pydriller's Git wrapper does not include ".github/workflows""
**Is your feature request related to a problem? Please describe.**
When trying to use pydriller's Git wrapper to get the list of files in the repository, the result does not include `.github/workflows` because this [method](https://github.com/ishepard/pydriller/blob/036978c2e1f2d849395a23f2dba62d67b0c17ba7/pydriller/git.py#L155) exclude any paths with `.git` in it.

**Describe the solution you'd l

[2022-01-31 13:04] stefanodallapalma commented on #203
Hi @skyworld42,

feel free to edit the condition at [line 163](https://github.com/ishepard/pydriller/blob/036978c2e1f2d849395a23f2dba62d67b0c17ba7/pydriller/git.py#L163) accordingly and open a pull request. Please, do not forget to provide test(s) for the changes :smile:

[2022-02-07 18:47] NIKHITH-SANNIDHI opened #204 "Implement Git Blame"
I tried looking up an API for git blame in PyDriller but looks like the closest I find is [this](https://pydriller.readthedocs.io/en/latest/reference.html?highlight=blame#pydriller.git.Git.get_commits_last_modified_lines).

I was wondering if there is any functionality that implements git blame for a given file?
Or is there any way I can get the commit hash (or [Commit object](https://pydriller.re

[2022-02-09 10:07] simisimon opened #205 "Order of commits in the git history seems to be broken"
Hi there! We analyze the commit history of [javascript](https://github.com/airbnb/javascript), but we encountered a problem. It seems that the order of commits in the history is not correct. Using pydriller, we got the following order of commits:
[code]
The problem here is about the commits `1405`, `1404`, and `1400`. Commit `1404` should be the parent of `1405`, but when I checkout commit `1405`

[2022-02-09 10:16] ishepard commented on #204
Hi @NIKHITH-SANNIDHI !

No there is currently no way to get the blame of the file. It shouldn't be too hard to add to the ModifiedFile object, if you'd like to create a PR 😄

Thanks!

[2022-02-09 10:21] ishepard commented on #205
Hi @simisimon !
So internally pydriller runs `git log`. You can try running `git log > tmp.txt` and see the history.
If I do that, I get:
[code]

so the result seems to be correct with what Git says.

I haven't done an investigation of what's going on though, I just checked that the git history was not broken 😄
I can help you figure out what's happening if you need it

[2022-02-09 10:29] simisimon commented on #205
Well, that is strange. As I mentioned above, when I checkout `121a95d71524032bfa858271b318aa6e19553dfc` and run git log, I get:

[code]

If you can help me figure out what is going on, I would be very grateful.

[2022-02-09 11:20] simisimon commented on #205
I'm not sure. I was on the master branch,  applied checkout  `<commit_hash>`, and ran git log.  I tried git log with the parameters mentioned in the documentation. But also with these, I got the same history as describe above.

[2022-02-10 08:06] josemorenoo commented on #202
@stefanodallapalma @ishepard you're both right, thanks!

[2022-02-13 18:00] #199 closed

[2022-02-13 18:04] ishepard commented on #205
Yeah not sure. The important thing is that Pydriller isn't different from Git.
So if you find differences, feel free to post it. But to me it looks that in this case they behave the same.

[2022-02-13 19:00] simisimon commented on #205
I don't think that this an error, because as you said they behave the same. However, I still don't know why I get different results when using the Github client or when I first checkout the commit and then use git log. It would be interesting to know what the GitHub client does internally when searching for commits.

Anyways, I think I encountered this problem as I expected the git history to be l

[2022-02-14 05:19] josemorenoo opened #207 "Commit object seems to be missing ModifiedFiles"
**Describe the bug**
I noticed one of the commits returned by pydriller does not contain any modified files in the `modified_files` list attribute, even though checking through github clearly shows 25 files were added and/or modified. I wrote code below which prints out this output. For reference, this is the github commit: `https://github.com/Loopring/loopring-explorer/commit/f94d05ba363d6d330784

[2022-02-14 19:08] josemorenoo commented on #207
Thanks for your comment @stefanodallapalma , that makes a lot more sense!

[2022-02-14 19:08] #207 closed

[2022-02-15 07:44] josemorenoo commented on #89
@ishepard @greninja

I had this problem too, but I may have found a solution:

`git log -m --name-only <commit hash>`

For me this shows all the files affected by a merge commit!

I haven't taken a deeper look at pydriller internals yet but if this is an easy first PR I'm happy to contribute

[2022-02-17 16:18] ishepard commented on #205
Yeah GIt history sometime can be very tricky to analyse 😞

I'm gonna close this task since it looks like it's not a problem of Pydriller.
Cheers!

[2022-02-17 16:18] #205 closed

[2022-02-18 15:31] arakhia opened #208 "ModifiedFile Complexity"
Hi There,

Thanks for such an amazing tool. I have a questions regarding [ModifiedFile ](https://pydriller.readthedocs.io/en/latest/modifiedfile.html) Complexity, how it actually calculated? it is an aggregation of methods complexity? or it calculates class complexity? in that case, does it take into account nested classes as well or ignore them?

Thanks for your time

[2022-02-19 09:32] ishepard commented on #208
HI @arakhia ! I use Lizard (https://github.com/terryyin/lizard) to calculate the various metrics.

[2022-02-23 05:16] #208 closed

[2022-03-27 12:13] 0x0elliot opened #210 "Get latest commits"
**Is your feature request related to a problem? Please describe.**
Right now Pydriller has basic filtering options which are decent as well. Like:
https://pydriller.readthedocs.io/en/latest/repository.html?highlight=new%20commits#filtering-commits

And you can get basic generators by the methods near the following method:
https://pydriller.readthedocs.io/en/latest/reference.html?highlight=new%20co

[2022-03-28 13:00] stefanodallapalma commented on #210
HI @0x0elliot,

by default Pydriller returns the commits from the newest, i.e., most recent, to the oldest.
To traverse commits in a different order - for example, chronologically - take a look at the parameter `order` of the object `Repository` [here](https://pydriller.readthedocs.io/en/latest/reference.html#pydriller.repository.Repository).

[2022-03-28 13:45] 0x0elliot commented on #210
Wonderful. Thanks for the response.

[2022-03-28 13:45] #210 closed

[2022-03-28 14:22] stefanodallapalma opened #211 "Mismatch between docs and source code on Repository's parameter "order""
**Describe the bug**

Hi @ishepard,

According to the [docs](https://pydriller.readthedocs.io/en/latest/reference.html#pydriller.repository.Repository), the default value for the parameter `order` is **reverse**, while in the `Repository`  class is [**None**](https://github.com/ishepard/pydriller/blob/ec2ccc540c86e4ba18683a1efa7d367fc56a0150/pydriller/repository.py#L63). Traversing commits with `o

[2022-03-28 14:31] ishepard commented on #211
Pydriller has the opposite behaviour of Git. So if we pass `none`, we set reverse to `True`, if we pass 'reverse', we set reverse to `False`.

[code]
The doc is correct, as well as the behaviour 😄

[2022-03-28 14:51] stefanodallapalma commented on #211
Got it, I remember we discussed that at some point.
However, I personally believe the docs is a bit misleading as it states *"It can be one of: ‘date-order’, ‘author-date-order’, ‘topo-order’, or ‘reverse’. Default is reverse."*

But as you said in the answer above, that means the default behavior acts similar to `order='date-order'`. From the docs it seems like the default for `order` is *'revers

[2022-04-04 21:39] #211 closed

[2022-04-11 08:40] totoroyyb opened #213 "Temp file cleanup error on Windows with OSError 145"
**Describe the bug**
Python 3.88 on Windows still seems to have some problems cleaning up temp files.

I've noticed a workaround already applied here:

https://github.com/ishepard/pydriller/blob/3f9b6a55fa74710c2ee3d0118b035b81da571b58/pydriller/repository.py#L202-L206

However, it doesn't catch the case I encountered. On Python 3.88 + Windows, it throws `WinError 145`, "Not an empty folder" as an

[2022-04-11 08:45] totoroyyb commented on #213
#214 PR is submitted.

[2022-04-11 10:27] #213 closed

[2022-04-18 19:36] rick-c-4499 opened #215 "ModifiedFile.source_code invalid for binary files."
When a ModifiedFile object is created for a binary file, the source_code field contains string data that was decoded incorrectly and thus is unusable.  This problem stems from _get_decoded_str not properly identifying the encoding of the blob prior to decoding it as utf-8 and ignoring errors. There no way to encode or in any way retrieve the actual source_code (binary) as the data is clobbered by

[2022-04-20 10:57] ishepard commented on #215
Hi Rick,
yeah indeed ModifiedFile does not check the type of the file. I think this is kind of excepted, we can not decode a binary.

What do you mean exactly by this?  retrieving binary data?

Maybe, but then we need to have a logic to identify binary files.

What I saw people doing is that they filter for files they are interested in, e.g.:
[code]

[2022-04-20 14:07] rick-c-4499 commented on #215
I'm not expecting the library to decode a binary. I was expecting the library to not ATTEMPT to decode it when it cannot do so. I do agree that my overloading the expectations of what ModifiedFile.source_code should be used for regarding binary files IS a bit of a stretch but it's a bit of a trap to exist and be populated with incorrectly decoded data. For example other fields like ModifiedFile.di

[2022-04-20 16:41] rick-c-4499 commented on #215
Thanks for your offering of workaround suggestions, however I'm good on that front.

I solely want to point out the library as is has unexpected behavior when it comes to using Modifiedfile.source_code when the file itself is binary. If my expectations are off then I'm happy to close this as out of scope.

[2022-04-20 16:48] ishepard commented on #215
@rick-c-4499 no I actually agree with you.
We currently decode everything, no matter what, even files we shouldn't decode.
A smarter approach would be to only decode when possible.

It's the "when possible" that's tricky. We can't differentiate by file, because ANY file can have a non UTF-8 character.

So maybe, when we hit an error in decoding, we should simply return the string, without decoding

[2022-04-21 08:45] stefanodallapalma commented on #215
Personally, I believe the code semantic should stick to the method/property name. I would not expect `ModifiedFile.source_code` to return the content of a binary file, either encoded or decoded, but that's my point of view of course :)

Would it be better to add a property like `ModifiedFile.content` that returns the content no matter what so to let the user do whatever they want, as @ishepard sug

[2022-04-21 13:36] rick-c-4499 commented on #215
I do agree with you that having non decoded "binary" sometimes in source_code breaks the semantic API contract.

I ALSO worry that having "decoded gibberish" in source_code breaks the semantic expectations and further agree that any sort of "smarter" parsing/handling is too costly/impractical.

Perhaps the patch would be:

Change the decode utf8 to not ignore errors. Per @ishepard
On an error stor

[2022-04-21 17:24] ishepard commented on #215
Yeah exactly. Right now, `.source_code` returns the decoded string of a binary file, which is wrong of course. We shouldn't do it.

Definitely not indeed, too hard.

Yeah I like this idea

@rick-c-4499 to summarize:
- `.source_code` will not ignore errors. When we hit an error, it means that we failed in decoding. Hence, we return an empty string.
- `.content_undecoded` will simply be a `str()` of

[2022-04-21 17:26] ishepard opened #216 "Rename ModifiedFile.source_code to ModifiedFile.content"
`ModifiedFile.source_code` implies the file contains code. However, in Git we can put whatever we want, and Pydriller will analyse its content.

Hence, a better name would be `ModifiedFile.content`

[2022-04-22 09:03] stefanodallapalma commented on #215
@ishepard

If we are introducing `ModifiedFile.content_undecoded` I'd suggest to simply deprecate `ModifiedFile.source_code` -- i.e., no need to modify it -- and throw a DeprecationWarning suggesting the user to use `ModifiedFile.content_undecoded` instead.

[2022-05-12 22:27] DylanLukes opened #217 "Modified files in filename filtered repository traversal do not always match git log."
**Describe the bug**

In cases where `git log --follow` infers heuristically that a changed+renamed file is the "same" file, `pydriller` with the `filepath` option returns modified files which do not respect `git log --follow`. In conjunction with some other factors (see the Rationale section), this significantly frustrates tracking a file across its lifetime.

**To Reproduce**

**Note: ** I've ch

[2022-05-12 23:05] DylanLukes commented on #217
The temporary fix for this I've come up with is using the following function to manually build a mapping from commit to correct filename.

[code]

[2022-05-17 13:56] ishepard commented on #217
To solve this I'd suggest you to add a new parameter, follow_renames or something like this, in Repository.

When the argument is passed, we can add the `--follow` option. WDYT?

[2022-05-17 20:58] DylanLukes commented on #217
When a `filepath` is provided to the `Repository` initializer, it appears that `--follow` is already always added. See below:

https://github.com/ishepard/pydriller/blob/58ae15ef457e83c7ac4f07be54f9065ac37abd33/pydriller/repository.py#L216-L224

And in turn:

https://github.com/ishepard/pydriller/blob/58ae15ef457e83c7ac4f07be54f9065ac37abd33/pydriller/git.py#L300-L320

Not quite. It is detected as

[2022-05-17 23:55] DylanLukes commented on #217
Perhaps a less invasive approach would be to add a new method `traverse_changes()` which only works for a `Repository` initialized with a `filename`, that reflects "tracking a file across it's lifetime according to `git follow`" rather than traversing a series of commits?

[2022-06-14 16:18] ishepard commented on #217
Sorry for the late reply, at work it has been busy 😄

Anyway, I remember I had in mind that traverse_changes(), but it will be behave exactly like passing the filepath, so at the end I didn't implement it.

It's definitely a corner case, but the most important thing for us is that Pydriller doesn't return results that are different from what Git returns.

It's my understanding that `git log` retur

[2022-07-05 14:42] josemiguelpg opened #222 "Methods that were renamed"
Hi! I would like to know if there is any way to know a single methods' name before and after the commit. I believe the actual API only provides ALL the methods before and ALL the methods after. In case of two methods renames we can't get the name before and after of each one.
I don't have a solution for this yet as i didn't explore the source code. Sorry

[2022-07-11 08:57] ishepard commented on #222
hi @josemiguelpg!

No there is currently no way to get methods renames, and there won't be as it is not deterministic.
What I suggest you to do is to manually calculate it (you have the list of methods, start and end line, before and after. I'd suggest you to use some sort of similarity metric between methods. It will be very hard and error prone)

[2022-07-11 08:59] ishepard opened #223 "Add "--follow" option to repository"
Sometimes we want to traverse the history with the --follow option

[2022-07-11 08:59] ishepard commented on #217
Created #223  that adds the --follow option. Closing this one

[2022-07-11 08:59] #217 closed

[2022-07-11 09:00] #216 closed

[2022-07-11 09:02] ishepard opened #224 "Return undecoded content"
We currently try to decode everything. Of course we silently fail in case the file is a binary, pdf, or whatever can not be decoded to UTF-8.
Instead of silently failing, we could return an undecoded version of the file.

[2022-07-11 09:02] ishepard commented on #203
Closing since no interest

[2022-07-11 09:02] #203 closed

[2022-07-11 09:03] ishepard commented on #204
Closing since no interest

[2022-07-11 09:03] #204 closed

[2022-07-20 02:19] zackcglee commented on #162
Thank you for your wonderful work.

I am experiencing the same error on pydriller 1.15.2v.
has this been fixed on the recent version?

This occurs when pydriller is recursively called.

[code]

The identical error occurs in both Ubuntu 18.04 and Mac OS 12.4.

If this issue has not been touched, I will try to reproduce the error.
I am not 100% sure where files are not being closed yet, so I am not

[2022-07-25 00:02] zackcglee commented on #162
This error doesn't seem to occur in the latest version.

[2022-07-26 22:08] ErnestFistozz opened #225 "Does Pydriller have a WebApi?"
Hi,

Does Pydriller have a WebApi? if I so, can you point me in the right direction with regards to the documentation. I am looking at collecting metrics for specific commits in a branch. However, i don't necessarily wish to install pydriller. I would prefer to use a WebApi if exists.

[2022-07-27 16:57] stefanodallapalma commented on #225
Hi @ErnestFistozz,
PyDriller does not have WebApi. Personally, I do not know if someone implemented any in an external application.
Anyway, let us know if there is anything we can do to help!

[2022-07-28 18:05] #225 closed

[2022-08-09 17:35] 41241241241 opened #226 "Is there a way to retrieve the entire patch from a Commit object in PyDriller?"
Hi PyDriller team, thanks for your great package. I am wondering if there is currently a way to retrieve the entire patch string from a Commit object in PyDriller?

My team currently has a use case where we would like to store several artefacts from a commit in our database, including the full patch, in case we want to do our own custom parsing or processing. Reading the most recent version of the

[2022-08-12 14:22] stefanodallapalma commented on #226
Hi @41241241241 ,

Can you please clarify what do you mean with "entire patch string of a Commit"? I assume you refer to the modifications of all the files in the commit.
In that case, you may want to take a look at the [`ModifiedFile`](https://github.com/ishepard/pydriller/blob/02161a5144330d6d8d9c5fcd2f68e2c08376f0cd/pydriller/domain/commit.py#L150) object, which stores information about a file'

[2022-09-02 13:49] erenturkm opened #227 "Getting the commited branch"
Hi,

My organization has large number of repos for my project that is hosted on bitbucket. I am analyzing the git logs from my own machine and I need to know which branch the commit was done for. I can see the pull-requests from bitbucket and see which branch it was merged to. I know pull requests are not part of Git but I am not looking for the approval process, just where it was merged to.

When

[2022-09-07 10:44] ishepard commented on #227
Hi @erenturkm!
Mmmmm good question, I don't really know. Is there a git command that can give you that info? If so, we can try to write it in Pydriller.

[2022-09-07 17:01] erenturkm commented on #227
This seems to be a hard topic. [StackOverflow](https://stackoverflow.com/questions/2706797/finding-what-branch-a-git-commit-came-from/2707110#2707110) can provide some context. I did use "git reflog show --all | grep xxxxxx" type of commands in my script successfully to get the information.

[2022-09-11 16:33] ishepard commented on #227
What you pinged seems to find the branch the commit comes from.
I thought your question was to find the commit is merged to. No?

Anyway, yeah it seems there is no easy way.

[2022-09-29 21:45] otonpneto opened #228 "Get The Issue Code That Is Associated a Commit"
Create a new field on commit object to get the commits associated issues.

[2022-10-01 12:56] corneliusroemer opened #229 "ENH: Print more informative error message when git fails"
**Is your feature request related to a problem? Please describe.**
I love pydriller. Using it to step through all versions of a file in a large repo: https://github.com/corneliusroemer/pango-designation-dates

Things worked fine locally, but when I went to setup a Github action I got a cryptic error with a not so helpful error message:
[code]

When I ran that command `git diff-tree ...` locally, e

[2022-10-01 17:36] ishepard commented on #228
I think you are referring to the issues in Github?
Issues don't exists in Git.

[2022-10-01 17:38] ishepard commented on #229
Hi @corneliusroemer! Thanks for your words 😄

Not sure Gitpython provides anything more than `Cmd('git') failed due to`.
But sure, if anyone in the community wants to investigate this please do 👍

[2022-10-01 17:40] ishepard commented on #226
There should be a way to retrieve the entire patch like what you linked: https://github.com/ishepard/pydriller/commit/250391839afcad3320e451c841090ccc69407e94.patch

ModifiedFile is just the "parsed" version of it.

Marking this as a PR, if anyone wants to pick it up.

[2022-10-01 20:16] corneliusroemer commented on #229
Thanks, so this is an upstream issue then? Just thought I start here 😅

[2022-10-03 11:39] otonpneto commented on #228
Exactly. To associate commits with github issues and their types (bugs, enhancement, ...)

[2022-10-07 13:51] ishepard commented on #228
Then no, Pydriller is a GIt framework (not GitHub). I'd suggest you to look to GHTorrent for that.

[2022-10-07 13:51] #228 closed

[2022-10-12 14:55] andreagurioli1995 opened #230 "Memory leak over large repos"
**Describe the bug**
I found out that the process when it comes to retrieving the modified files in the commit, starts requiring a massive amount of memory, being specific, after profiling with memray, the incriminated section is addressed to "return diff.data_stream.read().decode("utf-8", "ignore")" over the decoding of the diffs.

**To Reproduce**
Here is an easy snippet to reproduce the issue.

[2022-10-22 11:25] SimpleConjugate opened #232 "Supported languages"
Is there a restricted set of languages that can be mined using pyDriller? If so, is the project extendable to language plugins?

Even without the ability to parse methods for more obscure languages,the framework is useful to me. However if language plugins are possible, this tool is exactly what I'm looking for.

[2022-10-24 10:12] stefanodallapalma commented on #232
Hi @SimpleConjugate,

The supported languages are those supported by [Lizard](https://github.com/terryyin/lizard), as mentioned in the method [`ModifiedFile.language_supported`](https://github.com/ishepard/pydriller/blob/02161a5144330d6d8d9c5fcd2f68e2c08376f0cd/pydriller/domain/commit.py#L268).

[2022-11-07 11:22] #224 closed

[2022-11-09 15:21] ishepard commented on #230
Hey @andreagurioli1995!
Interesting..would you mind sharing more data on this?
How big the repos? How much memory is it used?

I remember I had a problem in the past where I was keeping an instance of the commit active, so I was putting everything in memory. It shouldn't be like this anymore, so I am not sure where to start from 😄

[2022-11-09 17:58] andreagurioli1995 commented on #230
The repo used is [https://github.com/mozilla/addons-server](url) this one, with the settings shown above!
During the memory profiling with [https://github.com/bloomberg/memray](url) I obtained an overall usage of 62.4 GByte. I have attached a screenshot of the memory profiling with the RAM usage in red over the salient points.
![Immagine 2022-11-09 184919](https://user-images.githubusercontent.com

[2022-11-18 02:34] ohhhYang commented on #230
I also had the same problem。 my version:  pydriller==2.1,  python3.9.9,  Linux: 5.10.0-60.18.0.50.h322_1.hce2.x86_64
I have tried manipulating the commit object in the new process and then freeing it, but the memory will still be used more and more. my code:
[code]

[2022-11-18 02:55] ohhhYang commented on #230
In the ”copy2dict“ method, I copied all the attributes of the commit to the result object (including nested attributes, DFS)